@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/variables";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/borders";

.Root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Photos {
  @include shadows.surface;
  @include corners.normal;

  grid-area: photos;
  aspect-ratio: 4 / 3;
}

.PhotosEmpty {
  @include flex.column($gap: 0.25rem, $yAlign: center);
  @include borders.normal;

  flex-grow: 1;
  min-height: 6rem;
  border-style: dashed;
}

.Players {
  grid-area: players;
  height: min-content;
}

.DetailsCard {
  grid-area: details;
}

.Details {
  @include flex.stretchy;

  padding: 1rem var(--container-padding-x);
}

.DetailsFooter {
  @include text.small($muted: true);
  @include flex.row($gap: 0.5rem);

  padding: 1rem var(--container-padding-x);
}

.Socials {
  padding: 0.75rem var(--container-padding-x);
}

// 2 x 320px + 3 x 16px
@media (width >= 688px) {
  .Photos {
    aspect-ratio: 5 / 3;
  }
}

// 3 x 320px + 4 x 16px
@media (width >= 1024px) {
  .Root {
    height: 100%;

    &[data-photos="true"] {
      display: grid;
      grid-template-areas: "players players details" "photos photos details";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: min-content 1fr;
    }
  }

  .Photos {
    aspect-ratio: unset;
  }
}

.DetailsScrollArea {
  @include flex.stretchy;
}
