@use "/src/style/flex";
@use "/src/style/shadows";

.LeagueLogo {
  display: block;
  flex: 0 auto;

  aspect-ratio: 1;
  width: auto;
  min-width: 2rem;
  min-height: 2rem;

  svg {
    display: block;
    width: 100%;
    height: 100%;

    &[data-shadow="true"] {
      filter: drop-shadow(0 4px 6px rgb(0 0 0 / 50%));
    }
  }
}
