@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/variables";
@use "/src/style/text";
@use "/src/style/borders";

.ActiveTournament {
  @include flex.column($gap: 0);

  overflow: hidden;
  min-height: 0;

  &_Loading {
    @include text.ui;
    @include flex.row($gap: 0.5rem, $xAlign: center);

    flex-grow: 1;
    color: var(--text-color-muted);

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &_OpponentSection {
    display: grid;
    grid-template-areas:
      "opponentLabel tableLabel"
      "opponent table"
      "checkInButton checkInButton";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 0.5rem;
    column-gap: 1rem;

    padding: 1rem var(--container-padding-x);

    &_Table {
      @include text.large;

      grid-area: table;
      place-self: center;
    }

    &_Opponent {
      grid-area: opponent;
    }

    &_OpponentLabel {
      grid-area: opponentLabel;
    }

    &_TableLabel {
      grid-area: tableLabel;
    }

    &_CheckInButton {
      grid-area: checkInButton;
      margin-top: 1rem;
    }
  }

  &_Rankings {
    --table-padding: var(--container-padding-x);

    flex-grow: 1;
  }
}
