@use "/src/style/variables";
@use "/src/style/text";
@use "/src/style/flex";

.UserPortrait {
  &-vertical {
    @include flex.column(0.5rem);
    @include flex.stretchy;

    align-items: center;
    max-width: 8rem;
    text-align: center;
  }

  &-verticalReversed {
    flex-direction: column-reverse;
    justify-content: end;
  }

  &-horizontal {
    @include flex.row($gap: 0.5rem);
    @include flex.stretchy;

    align-items: center;
  }

  &-horizontalReversed {
    flex-direction: row-reverse;
    justify-content: end;
  }
}

.UserPortraitName {
  @include text.ui($muted: true);

  overflow: hidden;
  display: block;
  -webkit-line-clamp: 2;
  line-clamp: 2;

  line-height: 1rem;
  text-overflow: ellipsis;
  text-wrap: balance;
}
