@use '/src/style/variables';

@use '/src/style/flex';

.UserPortrait {
  &--vertical {
    @include flex.column(0.5rem);
    @include flex.stretchy;
    text-align: center;
    max-width: 8rem;
    align-items: center;
  }
  &--verticalReversed {
    flex-direction: column-reverse;
  }

  &--horizontal {
    @include flex.row(0.5rem);
    @include flex.stretchy;
    max-width: 12rem;
    align-items: center;
  }
  &--horizontalReversed {
    flex-direction: row-reverse;
  }


}
.UserPortraitName {
  

  color: variables.$text-muted;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  text-wrap: balance;
  line-height: 1rem;
  font-size: 0.875rem;


}