@use "/src/style/animate";
@use "/src/style/borders";
@use "/src/style/flex";
@use "/src/style/shadows";
@use "/src/style/variables";
@use "/src/style/variants";

.LeaguesPage {
  &_Content {
    @include flex.column($gap: 1rem);
  }

  &_LoadingState {
    @include flex.stretchy;
    @include flex.centered;

    padding: 4rem;

    svg {
      width: 3rem;
      height: 3rem;
      opacity: 0.2;
    }
  }
}
