@use '/src/style/mixins';
@use '/src/style/variables';

.AppBarRoot {
  background-color: variables.$card-bg;
  border-bottom-color: variables.$outlined-border;
  border-bottom-style: solid;
  border-bottom-width: variables.$border-width;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  height: variables.$app-bar-height;
  left: 0;
  padding: 1rem;
  padding-right: 1.5rem;
  position: fixed;
  top: 0;
  width: 100vw;
}

.AppBarContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1 auto;
  gap: 1rem;
  justify-content: space-between;
  margin: 0 auto;
}

.AppBarRight {
  margin-left: auto;
}