@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/borders";
@use "/src/style/text";
@use "/src/style/corners";
@use "/src/style/variants";

.Root {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: variables.$app-bar-height;

  background-color: variables.$card-bg;
  border-bottom: variables.$border-width solid variables.$outlined-border;

  @include flex.row;
}

.Content {
  @include flex.row;
  @include flex.stretchy;

  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0.75rem 1rem;
}

.Logo {
  width: 2.5rem;
  height: 2.5rem;
  color: variables.$text-base;
}

.NavLinks {
  padding: 0.5rem;
}

.DrawerHeader {
  @include flex.row;
  @include borders.normal($side: bottom);

  position: relative;
  height: variables.$app-bar-height;
  padding-left: 1rem;
}

.AuthLinks {
  @include flex.row($gap: 0.25rem);

  a {
    @include text.ui;
    @include corners.normal;
    @include variants.ghost;

    padding: 0.5rem;
    font-weight: 400;
    text-decoration: none;
  }
}

@media (width < 688px) {
  .Logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
