@use '/src/style/variables';
@use '/src/style/flex';

.AppBar {
  &_Root {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: variables.$app-bar-height;
    padding: 1rem;
    padding-right: 1.5rem;

    background-color: variables.$card-bg;
    border-bottom: variables.$border-width solid variables.$outlined-border;

    @include flex.row(1rem);
  }

  &_Content {
    @include flex.row(1rem);
    @include flex.stretchy;

    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &_Logo {
    width: 2.5rem;
    height: 2.5rem;
    color: variables.$text-base;
  }
}