@use "/src/style/animate";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/shadows";
@use "/src/style/text";
@use "/src/style/variables";
@use "/src/style/variants";

.Trigger {
  @include flex.row($gap: 0.5rem);
  @include flex.stretchy;
  @include text.ui;

  width: 100%;
}

.Content {
  @include variants.card($elevated: true);
  @include animate.duration-quick;
  @include animate.style-pop;
  @include flex.column($gap: 0);
  @include corners.normal;

  margin: 0.25rem 0;
  background-color: var(--card-bg);
}

.DateSection {
  padding: 1rem;
}

.TimeSection {
  @include flex.row($gap: 0.25rem);

  padding: 1rem;
}

.ClockIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.CloseButton {
  margin-left: auto;
}
