@use "/src/style/flex";
@use "/src/style/borders";
@use "/src/style/variables";

.Root {
  @include flex.row($gap: 0);

  position: absolute;
  inset: 0;
}

.Pane {
  @include flex.column($gap: 0);
  @include borders.normal($side: right);

  width: min(100vw, 480px);
  height: 100%;
  background-color: var(--card-bg);
}

.Body {
  @include flex.column($gap: 2rem);

  padding: calc(var(--app-bar-height) + 3rem) 2rem 3rem;
}

@media (width >= 480px) {
  .Body {
    padding: calc(var(--app-bar-height) + 3rem) 4rem 3rem;
  }
}
