@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/variables";

.TournamentCompetitorForm {
  @include flex.column;

  min-height: min-content;

  &_PlayersList {
    @include flex.column($gap: 0.375rem);
  }

  &_TeamPlayers {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 0.5rem;
    column-gap: 1rem;
    align-items: center;

    &_AddButton {
      grid-column: 1/-1;
    }
  }

  &_SinglePlayer {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 0.5rem;
    column-gap: 1rem;
    align-items: center;
  }

  &_PlayerErrors {
    @include text.ui;

    grid-area: description;
    font-weight: 300;
    line-height: 1rem;
    color: var(--text-color-negative);
  }

  &_ScoreAdjustmentHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;

    margin-bottom: 0.25rem;
  }
}
