@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/borders";
@use "/src/style/shadows";
@use "/src/style/corners";

.TournamentDetailBanner {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;

  &_Title {
    overflow: hidden;
    display: flex;
    grid-area: title;
    flex-direction: row;
    flex-grow: 1;
    gap: 1rem;
    align-items: center;

    min-width: 0;

    h1 {
      max-width: 100%;
    }
  }

  &_Logo {
    display: block;
    max-width: 8rem;
    max-height: 8rem;
    object-fit: contain;
  }

  &_TimerSection {
    @include flex.centered;

    @include borders.normal;
    @include shadows.elevated;
    @include corners.normal;

    overflow: hidden;
    grid-area: timer;
    align-items: stretch;
  }

  &[data-compact="true"][data-timer="true"] {
    flex-direction: column;

    .TournamentDetailBanner_Title {
      flex-direction: row;
    }

    .TournamentDetailBanner_Logo {
      width: 4rem;
      height: 4rem;
    }
  }

  &[data-compact="true"][data-timer="false"] {
    flex-direction: column;

    .TournamentDetailBanner_Title {
      flex-direction: column;
      text-align: center;
    }
  }
}
