@use "/src/style/variables";

.Pulsar {
  pointer-events: auto;

  position: relative;
  transform: scale(0);

  overflow: visible;

  border-radius: 50%;

  transition: transform 300ms ease;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40px;
    height: 40px;
  }

  &[data-visible="true"] {
    transform: scale(1);
  }

  &[data-visible="false"] {
    transform: scale(0);
  }

  &[data-color="red"] {
    background-color: var(--bg-red);
  }

  &[data-color="blue"] {
    background-color: var(--bg-blue);
  }

  &[data-color="green"] {
    background-color: var(--bg-green);
  }

  &[data-color="yellow"] {
    background-color: var(--bg-yellow);
  }
}

.Pulse {
  pointer-events: none;
  content: "";

  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0.5;
  background-color: inherit;
  border-radius: 50%;

  animation: pulse 1.5s ease-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(3); /* roughly 0.5rem outward */
    opacity: 0;
  }
}
