@use '/src/style/animate';

.Animated {
  &-speed-quick {
    @include animate.duration-quick;
  }

  &-speed-slow {
    @include animate.duration-slow;
  }

  &-style-pop {
    @include animate.style-pop;
  }

  &[data-state='closed'] {
    display: none;
  }
}