@use '/src/style/variables';

.TournamentCard {
  overflow: hidden;
  display: flex;

  padding: 0;

  font-size: 0.875rem;
  line-height: 1.25rem;

  &-horizontal {
    height: 8rem;

    .ThumbnailWrapper {
      width: 8rem;
      height: 8rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.TournamentCardContent {
  padding: 1rem;

  h3 {
    margin-bottom: 0.25rem;
  }

  span {
    display: block;
    color: variables.$text-muted;
  }

}

