@use '/src/style/variables';
@use '/src/style/flex';

.TournamentCard {
  overflow: hidden;

  &_Banner {
    position: relative;
    height: 10rem;

    // background-color: hsl(55, 45%, 25%);
    background-color: hsl(220deg 20% 90%);

    // &Overlay{
    //   background-image: url(/src/assets/banner.png);
    //   background-position: center;
    //   background-size: cover;
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    // }
  }

  &_Description {
    padding: 1rem;
  }

  &_Actions {
    @include flex.row($xAlign: right);

    padding: 1rem;
  }
}


