@use '/src/style/variables';
@use '/src/style/flex';
@use '/src/style/text';

.TournamentCard {
  overflow: hidden;

  &_Banner {
    position: relative;

    flex-shrink: 0;

    width: 100%;
    height: 10rem;

    // background-color: hsl(55, 45%, 25%);
    background-color: hsl(220deg 20% 90%);

    // &Overlay{
    //   background-image: url(/src/assets/banner.png);
    //   background-position: center;
    //   background-size: cover;
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    // }
  }

  &_InfoSection {
    @include flex.column;

    padding: 1rem;
  }

  &_GameSystem {
    @include text.ui($muted: true, $bold: true);
  }

  &_Overview {
    @include flex.column($gap: 0.5rem);
  }

  &_DateTime,
  &_Location,
  &_SeatsAvailable,
  &_GamePlay {
    @include flex.row($gap: 0.5rem);
    @include text.ui;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &_InfoSectionExpanded {
    @include flex.column;

    padding: 1rem;
  }

  &_RulesPack {
    a {
      @include flex.row($gap: 0.25rem);
      @include text.ui($link: true);
    }

    svg {
      width: 0.875rem;
      height: 0.875rem;
    }
  }

  &_Actions {
    @include flex.row;

    padding: 1rem;
  }
}


