@use "/src/style/shadows";
@use "/src/style/variants";
@use "/src/style/variables";

$box-shadow-down: 0 1px 2px 0 rgb(0 0 0 / 5%);
$box-shadow-lifted:
  0 4px 8px calc(1px / var(--scale-x, 1)) rgb(0 0 0 / 12%),
  0 12px 24px calc(2px / var(--scale-x, 1)) rgb(0 0 0 / 16%);

.SortableItem {
  &_Wrapper {
    touch-action: manipulation;

    transform-origin: 0 0;
    transform:
      translate3d(var(--translate-x, 0), var(--translate-y, 0), 0)
      scaleX(var(--scale-x, 1)) scaleY(var(--scale-y, 1));

    display: flex;

    box-sizing: border-box;

    &[data-overlay="true"] {
      --scale: 1.05;

      z-index: 999;
    }
  }

  &_Content {
    @include variants.card;

    touch-action: manipulation;
    cursor: grab;

    position: relative;
    transform-origin: 50% 50%;
    transform: scale(1);

    display: flex;
    flex-grow: 1;
    align-items: center;

    box-sizing: border-box;

    background-color: var(--card-bg);
    outline: none;
    box-shadow: $box-shadow-down;

    transition: box-shadow 200ms cubic-bezier(0.18, 0.67, 0.6, 1.22);

    -webkit-tap-highlight-color: transparent;

    &[data-ghost="true"] {
      z-index: 0;
      opacity: 0.5;
    }

    &[data-overlay="true"] {
      cursor: inherit;
      transform: scale(1.05);

      // opacity: 1;
      box-shadow: $box-shadow-lifted;
      animation: pop 200ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
    box-shadow: $box-shadow-down;
  }

  100% {
    transform: scale(1.05);
    box-shadow: $box-shadow-lifted;
  }
}
