@use "/src/style/corners";

$offset: 1.5rem;

.FloatingActionButton {
  @include corners.round;

  position: fixed;
  right: calc($offset - (100vw - 100%));
  bottom: $offset;
  box-shadow: 0 10px 24px rgb(0 0 0 / 35%);
}
