
@use '/src/style/corners';

$offset: 1.5rem;

.FloatingActionButton {
  @include corners.round;
  position: fixed;
  bottom: $offset;
  right: calc($offset - (100vw - 100%));
  box-shadow: 0px 10px 24px rgba(0,0,0,0.35);
}