@use '/src/style/mixins';
@use "/src/style/variables" as *;

.Input {
  @include mixins.inputBasis;
  &-slotBefore {
    padding-left: 2.25rem;
  }
  &-slotAfter {
    padding-right: 2.25rem;
  }
}

.InputSlotBefore,
.InputSlotAfter {
  @include mixins.inputIcon;
  position: absolute;
  top: 0.75rem;
}

.InputSlotBefore {
  left: 0.75rem;
}
.InputSlotAfter {
  right: 0.75rem;
}

.InputWrapper {
  position: relative;
     flex: 1 auto;
     width: 100%;

  &-hasError {
    color: $red;

    input {
      border-color: $red;
    }
  }
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: $text-muted;
}
