
@use '/src/style/variables';
@use '/src/style/flex';
@use '/src/style/variants';
@use '/src/style/corners';
@use '/src/style/sizes';

.Input {
  @include variants.outlined;
  @include sizes.normal;
  @include corners.normal;
  @include flex.row($xAlign: left, $yAlign: center);
  & {
    width: 100%;
    padding: 0 1rem;
  }
  &-slotBefore {
    padding-left: 2.25rem;
  }
  &-slotAfter {
    padding-right: 2.25rem;
  }
}

.InputSlotBefore,
.InputSlotAfter {
  width: 1rem;
  height: 1rem;
  color: inherit;
  pointer-events: none;
  @include flex.centered;
  position: absolute;
  top: 0.75rem;
}

.InputSlotBefore {
  left: 0.75rem;
}
.InputSlotAfter {
  right: 0.75rem;
}

.InputWrapper {
  position: relative;
  @include flex.stretchy;
  width: 100%;

  &-hasError {
    color: variables.$red;

    input {
      border-color: variables.$red;
    }
  }
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: variables.$text-muted;
}
