@use '/src/style/mixins';
@use '/src/style/variables';

.NavLinksRoot {
  display: flex;
  gap: 0.25rem;
  flex: 1 auto;
  justify-content: start;
  &-vertical {
    flex-direction: column;
    .NavLinksItem {
      flex: 1 auto;
      justify-content: left;
    }
  }
  &-horizontal {
    flex-direction: row;
  }
}



.NavLinksItem {
  @include mixins.uiText;
  @include mixins.buttonBasis;
  @include mixins.ghost;

  padding: 0.625rem 1rem;
  text-decoration: none;
  font-weight: 400;
  color: variables.$text-base;
}