@use '/src/style/mixins';
@use '/src/style/variables';
@use '/src/style/flex';

.NavLinksRoot {
  @include flex.stretchy;
  display: flex;
  gap: 0.25rem;
  justify-content: start;
  &-vertical {
    flex-direction: column;
    .NavLinksItem {
      @include flex.stretchy;
      justify-content: left;
    }
  }
  &-horizontal {
    flex-direction: row;
  }
}



.NavLinksItem {
  @include mixins.uiText;
  @include mixins.buttonBasis;
  @include mixins.ghost;

  &{
    padding: 0.625rem 1rem;
    text-decoration: none;
    font-weight: 400;
    color: variables.$text-base;
  }
}