
@use '/src/style/variables';
@use '/src/style/flex';
@use '/src/style/variants';
@use '/src/style/corners';
@use '/src/style/text';

.NavLinksRoot {
  @include flex.stretchy;
  display: flex;
  gap: 0.25rem;
  justify-content: start;
  &-vertical {
    flex-direction: column;
    .NavLinksItem {
      @include flex.stretchy;
      justify-content: left;
    }
  }
  &-horizontal {
    flex-direction: row;
  }
}



.NavLinksItem {
  @include text.ui;
  @include variants.ghost;
  @include corners.normal;
  & {
    flex-grow: 0;
    padding: 0.625rem 1rem;
    text-decoration: none;
    font-weight: 400;
    color: variables.$text-base;
  }
}