@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/text";

.NavLinks {
  &_Root {
    @include flex.stretchy;

    display: flex;
    gap: 0.25rem;
    justify-content: start;

    &-vertical {
      flex-direction: column;

      .NavLinksItem {
        @include flex.stretchy;

        justify-content: left;
      }
    }

    &-horizontal {
      flex-direction: row;
    }
  }

  &_Item {
    @include text.ui;
    @include variants.ghost;
    @include corners.normal;

    flex-grow: 0;
    padding: 0.625rem 1rem;
    font-weight: 400;
    text-decoration: none;
  }
}
