@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/text";
@use "/src/style/sizes";
@use "/src/style/animate";

.Item {
  @include variants.button-link;
}

.Indicator {
  @include animate.duration-slow;

  pointer-events: none;
  user-select: none;

  position: absolute;

  opacity: 0;
  background-color: var(--text-color-default);
  border-radius: 2px;

  &[data-state="visible"] {
    opacity: 1;
    animation-name: fade-in;
  }

  &[data-state="hidden"] {
    display: none;
    opacity: 0;
    animation-name: fade-out;
  }
}

.NavLinks {
  &[data-orientation="vertical"] {
    @include flex.column($gap: 0.25rem);

    .Indicator {
      top: 0.5rem;
      bottom: 0.5rem;
      left: 0;
      width: 4px;
    }
  }

  &[data-orientation="horizontal"] {
    @include flex.row($gap: 0.25rem);
    @include flex.stretchy;

    .Indicator {
      right: 1rem;
      bottom: 0;
      left: 1rem;
      height: 4px;
    }
  }
}

.ExternalRoutes {
  &[data-orientation="vertical"] {
    @include flex.column($gap: 0.25rem);
  }

  &[data-orientation="horizontal"] {
    @include flex.row($gap: 0.25rem);

    margin-left: auto;
  }
}
