@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/text";
@use "/src/style/sizes";
@use "/src/style/animate";

.Item {
  @include text.ui;
  @include flex.row($gap: 0.5rem);
  @include corners.normal;

  position: relative;

  flex-grow: 0;

  padding: 0 1rem;

  font-weight: 400;
  text-decoration: none;

  &-tiny {
    @include sizes.tiny;
  }

  &-small {
    @include sizes.small;
  }

  &-normal {
    @include sizes.normal;
  }

  &-large {
    @include sizes.large;
  }

  &-clickable {
    @include variants.ghost;
  }
}

.Indicator {
  @include animate.duration-slow;

  pointer-events: none;
  user-select: none;

  position: absolute;

  opacity: 0;
  background-color: variables.$text-base;
  border-radius: 2px;

  &[data-state="visible"] {
    opacity: 1;
    animation-name: fade-in;
  }

  &[data-state="hidden"] {
    display: none;
    opacity: 0;
    animation-name: fade-out;
  }
}

.Root {
  &-vertical {
    @include flex.column($gap: 0.25rem);

    .Indicator {
      top: 0.5rem;
      bottom: 0.5rem;
      left: 0;
      width: 4px;
    }
  }

  &-horizontal {
    @include flex.row($gap: 0.25rem);
    @include flex.stretchy;

    .Indicator {
      right: 1rem;
      bottom: 0;
      left: 1rem;
      height: 4px;
    }
  }
}
