@use "/src/style/animate";

@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/utils";
@use "/src/style/text";

.DialogFooter {
  margin-top: 1.5rem;
}

.DialogTitle {
  margin-bottom: 1rem;
}

.DialogDescription {
  @include text.ui($muted: true);
}
