@use "/src/style/animate";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/sizes";
@use "/src/style/text";
@use "/src/style/utils";
@use "/src/style/variables";
@use "/src/style/variants";

.Positioner {
  @include flex.centered;

  position: fixed;
  inset: 0;
}

.Overlay {
  @include utils.modal-overlay;
  @include animate.duration-quick;
  @include animate.style-fade;

  background-color: variables.$modal-overlay-bg-color;
}

.Content {
  @include flex.column($gap: 0);
  @include flex.stretchy;
  @include animate.duration-quick;
  @include animate.style-pop;
  @include corners.normal;

  position: relative;
  max-width: min(calc(100vw - 1rem), 720px);
  max-height: calc(100vh - 2rem);
  background-color: variables.$card-bg;
}

@media (width >= 688px) {
  .Content {
    max-width: min(calc(100vw - 2rem), 720px);
  }

  .Header,
  .Description {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .Inner {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .Footer {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.Header {
  @include flex.row;

  min-height: 4rem;
  padding: 1rem;

  h2 {
    line-height: 2rem;
  }
}

.Description {
  padding: 0 1rem;
}

.Inner {
  @include flex.stretchy;
}

.Footer {
  height: 4.5rem;
  padding: 1rem;
}

.Close {
  @include variants.ghost;
  @include corners.normal;
  @include flex.centered;
  @include sizes.small;

  position: absolute;
  z-index: 1; // TODO: Figure out why this is needed for absolute positioned elements...
  top: 1rem;
  right: 1rem;

  svg {
    width: variables.$icon-button-icon-size;
    height: variables.$icon-button-icon-size;
  }
}
