@use '/src/style/animate';

@use '/src/style/variables';
@use '/src/style/flex';
@use '/src/style/utils';
@use '/src/style/text';

.DialogOverlay {
  @include utils.modal-overlay;
  @include animate.duration-quick;
  @include animate.style-fade;

  & {
    background-color: variables.$modal-overlay-bg-color;
  }
}

.DialogPositioner {
  position: fixed;
  inset: 0;

  @include flex.centered;
}

.DialogContent {
  position: relative;

  max-width: min(calc(100vw - 1rem), 720px);
  max-height: calc(100dvh - 1rem);
  padding: 1rem 1.5rem 1.5rem;

  background-color: variables.$white;
  border-radius: variables.$corner-radius;

  @include flex.stretchy;

  @include animate.duration-quick;
  @include animate.style-pop;
}

.DialogClose {
  @include text.ui;

  & {
    position: absolute;
    top: 1rem;
    right: 1rem;
    flex-grow: 0;
  }
}

.DialogFooter {
  margin-top: 1.5rem;
}

.DialogTitle {
  margin-bottom: 1rem;
}

.DialogDescription {
  @include text.ui($muted: true);
}
