@use "/src/style/animate";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/sizes";
@use "/src/style/text";
@use "/src/style/utils";
@use "/src/style/variables";
@use "/src/style/variants";

.DialogDescription {
  @include flex.column($gap: 0.5rem);

  padding: 0 var(--modal-inner-gutter);
}
