@use "/src/style/animate";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/sizes";
@use "/src/style/text";
@use "/src/style/utils";
@use "/src/style/variables";
@use "/src/style/variants";

.Positioner {
  @include flex.centered;

  pointer-events: none;
  position: fixed;
  inset: 0;
  margin: var(--modal-outer-gutter);
}

.Overlay {
  @include utils.modal-overlay;

  background-color: variables.$modal-overlay-bg-color;
}

.Content {
  @include corners.normal;
  @include flex.column($gap: 0);
  @include flex.stretchy;

  pointer-events: none;
  position: relative;
  max-height: 100%;
  background-color: variables.$card-bg;

  &-small {
    width: 30rem; // 480px
    max-width: min(100%, 30rem);
  }

  &-normal {
    width: 40rem; // 640px
    max-width: min(100%, 40rem);
  }

  &-large {
    width: 60rem; // 960px
    max-width: min(100%, 60rem);
  }
}

.Header {
  @include flex.row;

  min-height: 4rem;
  padding: 1rem var(--modal-inner-gutter);

  h2 {
    line-height: 2rem;
  }
}

.Description {
  padding: 0 var(--modal-inner-gutter);
}

.Inner {
  @include flex.stretchy;
  @include flex.column($gap: 0);

  min-height: 0;
}

.Footer {
  @include flex.row($xAlign: right);

  padding: var(--modal-inner-gutter);
}

.Close {
  @include variants.ghost;
  @include corners.normal;
  @include flex.centered;
  @include sizes.small;

  position: absolute;
  z-index: 1; // TODO: Figure out why this is needed for absolute positioned elements...
  top: 1rem;
  right: 1rem;

  svg {
    width: variables.$icon-button-icon-size;
    height: variables.$icon-button-icon-size;
  }
}
