@use '/src/style/animate';
@use '/src/style/mixins';
@use '/src/style/variables';
@use '/src/style/flex';

.DialogOverlay {
  @include mixins.modalOverlay;
  @include animate.durationQuick;
  @include animate.styleFade;
}

.DialogPositioner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex.centered;
}

.DialogContent {
  background-color: variables.$white;
  border-radius: variables.$corner-radius;
  max-width: min(calc(100vw - 1rem), 720px);
  max-height: calc(100dvh - 1rem);
  padding: 1rem 1.5rem 1.5rem;
  @include flex.stretchy;
  position: relative;

  @include animate.durationQuick;
  @include animate.stylePop;
}

.DialogClose {
  @include mixins.buttonBasis;
  // @include mixins.ghost;

  position: absolute;
  top: 1rem;
  right: 1rem;
}

.DialogHeader {

}

.DialogFooter {
  margin-top: 1.5rem;
}

.DialogTitle {
  margin-bottom: 1rem;
}

.DialogDescription {
  @include mixins.uiText;
  color: variables.$text-muted;
}
