@use "/src/style/animate";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/sizes";
@use "/src/style/text";
@use "/src/style/utils";
@use "/src/style/variables";
@use "/src/style/variants";

.Positioner {
  @include flex.centered;

  position: fixed;
  inset: 0;
  margin: var(--modal-side-margin);
}

.Overlay {
  @include utils.modal-overlay;
  @include animate.duration-quick;
  @include animate.style-fade;

  background-color: variables.$modal-overlay-bg-color;
}

.Content {
  @include flex.column($gap: 0);
  @include flex.stretchy;
  @include animate.duration-quick;
  @include animate.style-fade;
  @include corners.normal;

  position: relative;
  max-width: min(100%, 720px);
  max-height: 100%;
  background-color: variables.$card-bg;
}

.Header {
  @include flex.row;

  min-height: 4rem;
  padding: 1rem var(--modal-side-padding);

  h2 {
    line-height: 2rem;
  }
}

.Description {
  padding: 0 1rem;
}

.Inner {
  @include flex.stretchy;
  @include flex.column($gap: 0);

  min-height: 0;
}

.Footer {
  height: 4.5rem;
  padding: 1rem var(--modal-side-padding);
}

.Close {
  @include variants.ghost;
  @include corners.normal;
  @include flex.centered;
  @include sizes.small;

  position: absolute;
  z-index: 1; // TODO: Figure out why this is needed for absolute positioned elements...
  top: 1rem;
  right: 1rem;

  svg {
    width: variables.$icon-button-icon-size;
    height: variables.$icon-button-icon-size;
  }
}
