
@use '/src/style/flex';
@use '/src/style/variants';
@use '/src/style/text';
@use '/src/style/corners';

.rdp-caption {
  @include text.ui;
  @include flex.centered;

  & {
    position: relative;
    height: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
}



.DayButton {
  @include variants.ghost;
  @include corners.normal;

  & {
    width: 2.25rem;
    height: 2.25rem;
  }
}


.DayButtonSelected {
  @include variants.solid;
}

.CalendarNavButton {
  @include variants.outlined-muted;

  & {
    position: absolute;
    top: 0;

    width: 1.75rem;
    height: 1.75rem;

    border-radius: 6px;
  }
}

.CalendarNavButtonPrevious {
  left: 0;
}

.CalendarNavButtonNext {
  right: 0;
}