@use '/src/style/mixins';
@use '/src/style/flex';

.rdp-caption {
  @include mixins.uiText;
  @include flex.centered;
  & {
    font-weight: 500;
    position: relative;
    height: 1.75rem;
    margin-bottom: 0.5rem;
  }
}



.DayButton {
  @include mixins.ghost;
  & {
    width: 2.25rem;
    height: 2.25rem;
  }
}


.DayButtonSelected {
  @include mixins.solid;
}

.CalendarNavButton {
  @include mixins.outlined-muted;

  & {
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 6px;
    top: 0;
  }
}

.CalendarNavButtonPrevious {
  left: 0;
}
.CalendarNavButtonNext {
  right: 0;
}