@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/text";
@use "/src/style/corners";

.rdp-caption {
  @include text.ui;
  @include flex.centered;

  & {
    position: relative;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }
}

.DayButton {
  @include variants.ghost;
  @include corners.normal;

  & {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.DayButtonSelected {
  @include variants.primary;
}

.CalendarNavButton {
  @include variants.outlined;
  @include flex.centered;

  position: absolute;
  top: 0;

  width: 2.5rem;
  height: 2.5rem;

  border-radius: 6px;
}

.CalendarNavButtonPrevious {
  left: 0;
}

.CalendarNavButtonNext {
  right: 0;
}
