@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/borders";
@use "/src/style/variables";

.Trigger {
  @include corners.normal;
  @include variants.outlined;
  @include flex.column($gap: 0.5rem, $xAlign: center);

  min-height: 7rem;
  margin: -0.5rem;
  padding: 0.5rem;
  background-color: transparent;
}

.Toolbar {
  padding: 0 var(--modal-side-padding) 1rem;
}

.PlayerList {
  @include flex.column($gap: 0.5rem);

  padding: 0 var(--modal-side-padding) 1rem;
}

.PlayerListItem {
  @include text.ui;

  margin: 0 -0.5rem;
  padding: 0.25rem 0.5rem;
}

.PlayerSelectIconWrapper {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;

  @include flex.centered;

  // border: 2px solid black;
}

.PlaceholderAvatar {
  @include flex.centered;
  @include corners.round;
  @include borders.dashed;

  width: 4.5rem;
  height: 4.5rem;
  color: variables.$text-muted;
}
