
@use '/src/style/flex';
@use '/src/style/variants';

.PlayerSelectTrigger {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  margin: -0.5rem;
  min-height: 7rem;

  &-ghost {
    @include variants.ghost;
  }

  &-outlined {
    @include variants.outlined;
  }
}

.PlayerSelectIconWrapper {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  @include flex.centered;
  // border: 2px solid black;
}

.PlayerSelectIcon {
  color: inherit;
  position: relative;
  width: 2rem;
  height: 2rem;
  left: 2px;
}
.PlayerSelectPlaceholder {
  font-weight: 500;
  display: block;
}
