
@use '/src/style/flex';
@use '/src/style/variants';

.PlayerSelectTrigger {
  min-height: 7rem;
  margin: -0.5rem;
  padding: 0.5rem;

  background-color: transparent;
  border: none;

  &-ghost {
    @include variants.ghost;
  }

  &-outlined {
    @include variants.outlined;
  }
}

.PlayerSelectIconWrapper {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;

  @include flex.centered;

  // border: 2px solid black;
}

.PlayerSelectIcon {
  position: relative;
  left: 2px;

  width: 2rem;
  height: 2rem;

  color: inherit;
}

.PlayerSelectPlaceholder {
  display: block;
  font-weight: 500;
}
