@use "/src/style/animate";
@use "/src/style/variables";
@use "/src/style/flex";

.Root {
  @include flex.column;
}

.OutcomeSection {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) 3fr;
  gap: 1rem;
}
