@use "/src/style/animate";
@use "/src/style/variables";
@use "/src/style/flex";

.CommonFields {
  @include flex.column;

  &_OutcomeSection {
    display: grid;
    grid-template-columns: minmax(6rem, 1fr) 3fr;
    gap: 1rem;
  }

  &_ScoreOverrideSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
