@use "/src/style/variables";
@use "/src/style/flex";

.Root {
  @include flex.column;
}

.CoreConfig {
  @include flex.stackable;
}

.AdvancedOptions {
  @include flex.column;
}

.Missions {
  @include flex.stackable;
}

.Rules {
  @include flex.column;
}
