@use "/src/style/animate";
@use "/src/style/variables";
@use "/src/style/flex";

.Root {
  display: grid;
  grid-template-columns: 1fr variables.$border-width 1fr;
  gap: 1rem;
}

.Player0Section,
.Player1Section {
  @include flex.column;

  overflow: hidden;
}
