@use "/src/style/animate";
@use "/src/style/flex";

@use "/src/style/shadows";
@use "/src/style/variables";
@use "/src/style/variants";

.Root {
  @include flex.column(1rem);
  @include flex.stretchy;
}

.DateTimeSection {
  @include flex.stretchy;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
}

.DateTimeStart,
.DateTimeEnd {
  @include flex.stretchy;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 1rem;
}

.GameSystemForm {
  @include flex.column;
}

.CompetitorsInputs {
  @include flex.stretchy;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.CompetitorTeamSection {
  @include flex.column;
}

.UseNationalTeamsInput {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
}

.CompetitorSizeInput {
  grid-column: 1/2;
  grid-row: 1/3;

  @include animate.style-pop;
  @include animate.duration-quick;
}

.RegistrationGroup {
  @include variants.outlined;
  @include shadows.surface-shadow;
  @include animate.duration-quick;
  @include animate.style-pop;

  width: 100%;
  height: calc(6rem + (2 * variables.$border-width));
  padding-right: 1rem;
  border-radius: variables.$corner-radius;
}

.CompetitorGroupSizeInput {
  max-width: 5rem;
}

.GameSystemFields {
  @include flex.column;
}
