@use '/src/style/animate';
@use '/src/style/flex';

@use '/src/style/shadows';
@use '/src/style/variables';
@use '/src/style/variants';

.TournamentForm {
  @include flex.column(1rem);
  @include flex.stretchy;

  &_DateTimeStart,
  &_DateTimeEnd {
    @include flex.stretchy;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr) );
    gap: 1rem;
  }

  &_GameSystemForm {
    @include flex.column;
  }

  &_CompetitorsInputs {
    @include flex.stretchy;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &_CompetitorSizeInput {
    @include animate.style-pop;
    @include animate.duration-quick;
  }

  &_RegistrationGroup {
    @include variants.outlined;
    @include shadows.surface-shadow;
    @include animate.duration-quick;
    @include animate.style-pop;

    & {
      width: 100%;
      height: calc(6rem + (2 * variables.$border-width));
      padding-right: 1rem;
      border-radius: variables.$corner-radius;
    }
  }

  &_CompetitorGroupSizeInput {
    max-width: 5rem;
  }

  &_GameSystemFields {
    @include flex.column;
  }
}






