@use "/src/style/flex";

.Root {
  @include flex.column;
}

.Navigation {
  flex-shrink: 0;
  width: 10rem;
}

.Content {
  @include flex.stretchy;

  padding: var(--container-padding-x);
}

@media (width >= 480px) {
  .Root {
    @include flex.row($yAlign: top);
  }
}
