@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/text";

// TODO: Move to proper variables
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/tomato-alpha.css";
@import "@radix-ui/colors/tomato-dark.css";

.Droppable {
  @include corners.normal;

  // @include flex.stretchy;

  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;
  user-select: none;

  padding: 0.25rem;

  background-color: var(--gray-a2);
  outline: none;

  transition: background-color 250ms cubic-bezier(0.18, 0.67, 0.6, 1.22);

  -webkit-touch-callout: none;

  &[data-over="true"] {
    background-color: var(--gray-a3);
  }

  &[data-invalid="true"] {
    background-color: var(--tomato-a4);

    &[data-over="true"] {
      background-color: var(--tomato-a6);
    }
  }
}
