@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/text";

.PairingGrid {

  @include flex.column($gap: 0);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 12px;
  padding: 24px;
}

.DragContent {
  @include variants.outlined($hover: false);
  @include shadows.surface-shadow;
  @include corners.normal;
  @include flex.stretchy;

  padding: calc(1rem - 1px);
}

.PairingSlots {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1fr;
  gap: 0.5rem;
}

.UnpairedSection {
  @include flex.column($gap: 0.5rem);

  grid-column: 2 / 4;
}

.UnpairedPool {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
