@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/text";

.PairingStep {
  @include flex.column;
  @include variants.outlined($hover: false);
  @include shadows.surface-shadow;
  @include corners.normal;
  @include flex.stretchy;

  padding: var(--container-padding-x);
}
