@use "/src/style/variables";

.FlagCircle {
  flex-shrink: 0;

  aspect-ratio: 1;
  width: 100%;

  border-radius: 100%;

  // A normal border pushes the background image 1px away from the edges giving the circle "flat sides"
  box-shadow: inset var(--border-color-default) 0 0 0 1px;
}

.FlagCircle-merc {
  background-color: yellow;
}
