@use "/src/style/animate";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/shadows";
@use "/src/style/sizes";
@use "/src/style/text";
@use "/src/style/variables";
@use "/src/style/variants";

.Root {
  position: relative;
  width: min-content;
}

.Avatar {
  width: 8rem;
  height: 8rem;
}

.AvatarImage {
  overflow: hidden;
  display: inline-block;
  border-radius: 100%;
}

.ActionsMenu {
  @include flex.column($gap: 0.25rem);
  @include animate.duration-quick;
  @include variants.card($elevated: true);

  z-index: 10000;
  margin: 0.25rem 0;
  padding: 0.25rem;

  @include animate.style-pop; // Must list last because it contains nested declarations
}

.EditButton {
  position: absolute;
  right: 0;
  bottom: 0;
  outline: 2px solid var(--card-bg);
}

.UploadButton {
  @include flex.row($gap: 0, $xAlign: center);
  @include corners.normal;
  @include sizes.normal;
  @include variants.ghost;

  flex-shrink: 0;

  padding: 0.75rem;

  font-size: var(--font-size-normal);
  font-weight: 500;
  line-height: var(--line-height-normal);

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.AvatarLoading {
  @include variants.skeleton;
}

.Input {
  position: absolute;
  visibility: hidden;
}
