@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/borders";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/text";

.RosterStep {
  @include flex.column;
  @include borders.normal;
  @include shadows.surface;
  @include corners.normal;

  padding: var(--container-padding-y) var(--container-padding-x);
  background: var(--card-bg);
}
