@use "/src/style/flex";
@use "/src/style/borders";
@use "/src/style/variables";
@use "@radix-ui/colors/gray.css";

.UserSelectDialog {
  @include flex.column;

  min-height: 0;
  padding: 0 var(--container-padding-x);

  &_PlaceholderInput {
    @include flex.row;
  }

  &_InviteFormSubmitButton {
    @include flex.row($xAlign: right);
  }
}
