@use "/src/style/flex";
@use "/src/style/borders";
@use "/src/style/variables";
@use "@radix-ui/colors/gray.css";

.UserSelectDialog {
  @include flex.column($gap: 0.375rem);

  overflow: hidden;
  min-height: 0;
  padding: 0 var(--container-padding-x);

  &_UserSelectSection {
    @include flex.column($gap: 0);

    overflow: hidden;
    height: 30rem;
    max-height: 30rem;
  }

  &_SearchBox {
    border-radius: 0.375rem 0.375rem 0 0 !important;
  }

  &_SelectedUser {
    --padding-y: 0.75rem;

    @include flex.row;
    @include borders.normal;

    // display: grid;
    // grid-template-areas:
    //   "label label"
    //   "badge clear";
    // grid-template-columns: 1fr auto;
    // row-gap: 0.375rem;

    padding: var(--padding-y) calc(1rem - var(--border-width)) var(--padding-y) calc(0.75em - var(--border-width));
    background-color: var(--gray-2);
    border-top: unset;

    &_Label {
      grid-area: label;
    }

    &_Badge {
      grid-area: badge;
    }

    &_Clear {
      // grid-area: clear;
      margin-left: auto;
    }
  }

  &_ScrollArea {
    @include borders.normal;

    flex: 1 auto;
    border-top: unset;
    border-radius: 0 0 0.375rem 0.375rem;
  }

  &_UserList {
    padding: 0.5rem 0;
  }

  &_UserListItem {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0.5rem calc(1rem - var(--border-width)) 0.5rem calc(0.75em - var(--border-width));
  }

  &_PlaceholderInput {
    @include flex.row;
  }
}
