@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/text";

.ConfirmPairingsDialog {
  padding-bottom: var(--container-padding-y);

  &_Content {
    margin: 0 var(--container-padding-x);
  }

  &_Filters {
    @include flex.row;
  }

  &_EmptyState {
    @include flex.stretchy;
    @include flex.centered;
    @include text.ui($muted: true);

    padding-bottom: 4rem;
  }

  &_FirstColumn {
    padding-left: var(--container-padding-x);
  }

  &_LastColumn {
    padding-right: var(--container-padding-x);
  }

  &_Table {
    --cell-padding-y: 1rem;
    --table-padding: var(--container-padding-x);
  }

  &_TableNumber {
    @include text.ui;

    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75rem;
  }

  &_MatchIndicatorIcon {
    width: 1.25rem;
    height: 1.25rem;
    stroke: currentcolor;
  }

  &_MatchIndicatorInner {
    @include text.ui;
  }
}
