@use '/src/style/flex';

.AccessPage {
  min-height: 100vh;
  padding: 1rem;

  @include flex.centered;

  &_Card {
    width: 20rem;

    .Card_Body {
      align-items: center;

      @include flex.column(1rem);
    }
  }

  &_Logo {
    width: 6rem;
    height: 6rem;
    color: inherit;
  }

  &_Tabs {
    width: 100%;
    margin-top: 1rem;

    @include flex.column(1rem);
  }
}



