.AccessPage {
  display: flex;
  min-height: 100vh;
  align-items: start;
  justify-content: center;
  padding: 1rem;
}

.AccessPageCard {
  flex: 1 auto;
  max-width: 24rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AccessPageTabs {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1rem;
}