@use '/src/style/flex';

.AccessPage {
  min-height: 100vh;
  padding: 1rem;
  @include flex.centered;
}

.AccessPageCard {
  max-width: 24rem;
  margin: 0.5rem;
  @include flex.column(0);
  align-items: center;
  @include flex.stretchy;
}

.AccessPageTabs {
  width: 100%;
  margin-top: 1rem;
  @include flex.column(1rem);
}