
@use '/src/style/variables';
@use '/src/style/flex';
@use '/src/style/variants';
@use '/src/style/corners';
@use '/src/style/sizes';

.InputTextArea {
  @include variants.outlined;
  @include sizes.normal;
  @include corners.normal;
  @include flex.row($xAlign: left, $yAlign: center);
  @include flex.stretchy;
  & {
    height: 7.5rem;
    position: relative;
    width: 100%;
    resize: none;
    padding-bottom: 1rem;
  }
  &-hasError {
    color: variables.$red;

    textarea {
      border-color: variables.$red;
    }
  }
}



input::placeholder, textarea::placeholder {
  opacity: 1;
  color: variables.$text-muted;
}
