@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/sizes";
@use "/src/style/text";
@use "/src/style/borders";

.InputTextArea {
  @include borders.normal;
  @include sizes.normal;
  @include corners.normal;
  @include flex.row;
  @include flex.stretchy;
  @include text.ui;

  & {
    resize: none;

    position: relative;

    width: 100%;
    min-height: 7.5rem;
    padding: 0.75rem 1rem;
  }

  &-hasError {
    color: variables.$red;

    textarea {
      border-color: variables.$red;
    }
  }
}

input::placeholder,
textarea::placeholder {
  color: var(--text-color-muted);
  opacity: 1;
}
