@use "/src/style/animate";
@use "/src/style/variables";
@use "/src/style/flex";

.FowV4MatchResultForm {
  @include flex.column;

  flex: 1 auto;
  max-width: 100%;

  &_ResultForSection {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
  }
}

.ConfirmDialogMatchCard {
  margin: 1rem var(--modal-inner-gutter) 0;
}
