@use '/src/style/animate';
@use '/src/style/variables';
@use '/src/style/flex';

.FowV4MatchResultForm {
  @include flex.column(1rem);

  margin: 1rem;
}

.GameConfigSection {
  @include animate.duration-quick;
  @include animate.style-pop;
  @include flex.column(1rem);
}

.GameConfigFields {
  display: flex;
  gap: calc(1rem + 1px);
}

.GameConfigEra,
.GameConfigPoints {
  width: 50%;

  @include flex.stretchy;
}

.OpponentsSection {
  display: grid;
  grid-template-columns: 1fr variables.$border-width 1fr;
  gap: 1rem;
}

.Player0Section,
.Player1Section {
  @include flex.column(1rem);
}

.ResultsSection {
  @include flex.column(1rem);
}