@use "/src/style/animate";
@use "/src/style/variables";
@use "/src/style/flex";

.FowV4MatchResultForm {
  @include flex.column;
}

.SubmitButton {
  align-self: end;
}

.ConfirmDialogMatchCard {
  margin: 1rem var(--modal-inner-gutter) 0;
}
