.AlignmentGraph {
  display: grid;
  grid-template-areas:
    "anchor_left center_mark anchor_right"
    "graph graph graph";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
  gap: 0.5rem;

  &_AnchorLeft {
    grid-area: anchor_left;
    align-self: center;
  }

  &_CenterMark {
    transform: translateY(0.5rem);

    grid-area: center_mark;
    align-self: end;
    justify-self: center;

    width: 1.25rem;
    height: 1.25rem;

    color: var(--text-primary);
  }

  &_AnchorRight {
    grid-area: anchor_right;
    align-self: center;
    justify-self: end;
  }

  &_Graph {
    grid-area: graph;
  }
}
