@use "/src/style/variables";
@use "/src/style/animate";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/text";
@use "/src/style/flex";

.InputDateTrigger {
  width: 100%;

  @include flex.row($gap: 0.5rem);
  @include flex.stretchy;
  @include text.ui;
}

.InputDatePopoverContent {
  @include variants.outlined($hover: false);
  @include shadows.shadow;
  @include animate.duration-quick;
  @include animate.style-pop;

  & {
    margin: 0.25rem 0;
    padding: 1rem;
    background-color: variables.$card-bg;
    border-radius: variables.$corner-radius;
  }
}
