
@use '/src/style/flex';
@use '/src/style/variants';
@use '/src/style/corners';
@use '/src/style/sizes';
@use '/src/style/text';

.Button {
  @include flex.centered(0.5rem);
  @include corners.normal;
  @include text.ui($bold: true);

  svg {
    height: 1rem;
    width: 1rem;
    flex-shrink: 0;
  }
  & {
    padding: 0 1rem;
  }
  &--iconOnly {
    padding: 0.5rem;
  }
  &--round {
    @include corners.round;
  }

  // Size
  &--size-tiny {
    @include sizes.tiny;
  }
  &--size-small {
    @include sizes.small;
  }
  &--size-normal {
    @include sizes.normal;
  }
  &--size-large {
    @include sizes.large;
    svg {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  // Variant+Intent
  &--solid {
    @include variants.solid;
  }
  &--solid-danger {
    @include variants.solidDanger;
  }
  &--solid-muted {
    @include variants.solidMuted;
  }
  &--outlined {
    @include variants.outlined;
  }
  &--outlined-muted {
    @include variants.outlinedMuted;
  }
  &--outlined-danger {
    @include variants.outlinedDanger;
  }
  &--ghost {
    @include variants.ghost;
  }
}