@use 'sass:color';
@use '/src/style/mixins';
@use '/src/style/flex';

.Button {
  @include mixins.buttonBasis;
  height: 40px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  gap: 0.5rem;

  &-slotBefore, &-slotAfter {
    width: 1rem;
    height: 1rem;
    @include flex.centered;
  }
  &-solid {
    @include mixins.solid;
  }
  &-danger {
    @include mixins.solid-danger;
  }
}


.Button-solid-muted {
  @include mixins.solid-muted;
}

.Button-outlined {
  @include mixins.outlined;
}

.Button-outlined-muted {
  @include mixins.outlined-muted;
}

.Button-ghost {
  @include mixins.ghost;
}
