@use 'sass:color';
@use '/src/style/mixins';

.Button {
  @include mixins.buttonBasis;
  height: 40px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  gap: 0.5rem;

  &-slotBefore, &-slotAfter {
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.Button-solid {
  @include mixins.solid;
}

.Button-solid-muted {
  @include mixins.solid-muted;
}

.Button-outline {
  @include mixins.outlined;
}

.Button-outline-muted {
  @include mixins.outlined-muted;
}

.Button-ghost {
  @include mixins.ghost;
}
