@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/sizes";
@use "/src/style/text";

.Button {
  @include flex.row($gap: 0.5rem, $xAlign: center);
  @include corners.normal;
  @include text.ui($bold: true);

  position: relative;
  flex-shrink: 0;

  svg {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
  }

  & {
    padding: 0 1rem;
  }

  &-round {
    @include corners.round;
  }

  // Size
  &-size-tiny {
    @include sizes.tiny;

    svg {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  &-size-small {
    @include sizes.small;

    padding: 0.75rem;
  }

  &-size-normal {
    @include sizes.normal;
  }

  &-size-large {
    @include sizes.large;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &-iconOnly {
    padding: 0.5rem;
  }

  // Variant+Intent
  &-solid {
    @include variants.solid;
  }

  &-solid-muted {
    @include variants.solid-muted;
  }

  &-solid-danger {
    @include variants.solid-danger;
  }

  &-solid-danger-muted {
    @include variants.solid-danger-muted;
  }

  &-outlined {
    @include variants.outlined;
  }

  &-outlined-muted {
    @include variants.outlined-muted;
  }

  &-outlined-danger {
    @include variants.outlined-danger;
  }

  &-ghost {
    @include variants.ghost;
  }

  &-ghost-inverted {
    @include variants.ghost-inverted;
  }
}
