@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/sizes";
@use "/src/style/text";
@use "/src/style/variants";
@use "/src/style/variables";

.Button {
  @include flex.row($gap: 0, $xAlign: center);
  @include corners.normal;

  position: relative;

  flex-shrink: 0;

  font-size: var(--font-size-normal);
  font-weight: 500;
  line-height: var(--line-height-normal);

  svg {
    flex-shrink: 0;
  }

  &_Text {
    padding: 0 0.25rem;
  }

  &[data-reverse="true"] {
    flex-direction: row-reverse;
  }

  &[data-round="true"] {
    @include corners.round;
  }

  // ---- VARIANTS ----
  &[data-variant="primary"] {
    @include variants.primary;

    &[data-intent="danger"] {
      @include variants.primary-danger;
    }
  }

  &[data-variant="secondary"] {
    @include variants.secondary;

    &[data-intent="secondary"] {
      @include variants.secondary-danger;
    }
  }

  &[data-variant="outlined"] {
    @include variants.outlined;

    &[data-intent="outlined"] {
      @include variants.outlined-danger;
    }
  }

  &[data-variant="ghost"] {
    @include variants.ghost;

    &[data-intent="danger"] {
      @include variants.ghost-danger;
    }
  }

  // ---- SIZES ----
  &[data-size="tiny"] {
    @include sizes.tiny;

    padding: 0 0.375rem;

    svg {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  &[data-size="small"] {
    @include sizes.small;

    padding: 0 0.5rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &[data-size="normal"] {
    @include sizes.normal;

    padding: 0 0.75rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &[data-size="large"] {
    @include sizes.large;

    padding: 0 0.875rem;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
