@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/sizes";
@use "/src/style/text";

.Button {
  @include flex.row($gap: 0.5rem, $xAlign: center);
  @include corners.normal;
  @include text.ui($bold: true);

  position: relative;
  flex-shrink: 0;
  padding: 0 1rem;

  svg {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
  }

  &-round {
    @include corners.round;
  }

  // Size
  &-tiny {
    @include sizes.tiny;

    svg {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  &-small {
    @include sizes.small;

    padding: 0.75rem;
  }

  &-normal {
    @include sizes.normal;
  }

  &-large {
    @include sizes.large;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &-iconOnly {
    padding: 0.5rem;
  }

  // Primary buttons
  &-primary-default {
    @include variants.primary;
  }

  &-primary-danger {
    @include variants.primary-danger;
  }

  // Secondary buttons
  &-secondary-default {
    @include variants.secondary;
  }

  &-secondary-danger {
    @include variants.secondary-danger;
  }

  // Outlined buttons
  &-outlined-default {
    @include variants.outlined;
  }

  &-outlined-danger {
    @include variants.outlined-danger;
  }

  // Ghost buttons
  &-ghost-default {
    @include variants.ghost;
  }

  &-ghost-danger {
    @include variants.ghost-danger;
  }
}
