@use "/src/style/variables";
@use "/src/style/animate";
@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/borders";
@use "/src/style/shadows";
@use "/src/style/sizes";
@use "/src/style/corners";
@use "/src/style/text";

.InputSelectTrigger {
  @include variants.outlined;
  @include sizes.normal;
  @include corners.normal;
  @include flex.row;
  @include text.ui;

  & {
    width: 100%;
    padding: 0 1rem;
  }

  &--disabled {
    @include variants.outlined-disabled;
  }

  &--hasError {
    border-color: variables.$red;
  }
}

.SelectIcon {
  pointer-events: none;

  width: 1rem;
  height: 1rem;
  margin-left: auto;

  color: inherit;

  @include flex.centered;
}

.SelectContent {
  @include borders.normal;
  @include shadows.shadow;
  @include animate.duration-quick;
  @include animate.style-pop;

  & {
    overflow: hidden;
    padding: 0.5rem 0.25rem;
    background-color: variables.$white;
    border-radius: variables.$corner-radius;
  }
}

.SelectViewport {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.SelectGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.SelectGroupLabel {
  color: red;
}

.SelectItem {
  @include text.ui;

  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;

  height: 2rem;
  padding-left: 2rem;

  border-radius: 0.25rem;
}

.SelectItem[data-disabled] {
  color: variables.$text-disabled;

  // pointer-events: none;
}

.SelectItem[data-highlighted] {
  background-color: variables.$ghost-bg-hover;
}

.SelectItem[data-state="checked"] {
  @include variants.solid;
}

.SelectGroupLabel {
  user-select: none;

  padding-left: 2rem;

  font-size: var(--font-size-small);
  line-height: 1.5rem;
  color: variables.$text-muted;
}

.SelectSeparator {
  height: variables.$border-width;
  margin: 0.25rem 0;
  background-color: variables.$outlined-border;
}

.SelectItemIndicator {
  pointer-events: none;

  position: absolute;
  top: calc(0.5rem + 1px); // Looks better 1px further down
  left: 0.5rem;

  width: 1rem;
  height: 1rem;

  color: inherit;

  @include flex.centered;
}

.SelectScrollButton {
  @include flex.centered;

  cursor: default;
  height: 25px;
  background-color: white;
}
