
@use '/src/style/variables';
@use '/src/style/animate';
@use '/src/style/flex';
@use '/src/style/variants';
@use '/src/style/borders';
@use '/src/style/shadows';
@use '/src/style/sizes';
@use '/src/style/corners';

.InputSelectTrigger {
  @include variants.outlined;
  @include sizes.normal;
  @include corners.normal;
  @include flex.row($xAlign: left, $yAlign: center);
  & {
    width: 100%;
    padding: 0 1rem;
  }
}

.SelectIcon {
  width: 1rem;
  height: 1rem;
  color: inherit;
  pointer-events: none;
  @include flex.centered;
  margin-left: auto;
}

.SelectContent {
  @include borders.normal;
  @include shadows.shadow;
  @include animate.durationQuick;
  @include animate.stylePop;

  & {
    overflow: hidden;
    background-color: variables.$white;
    border-radius: variables.$corner-radius;
    padding: 0.5rem 0.25rem;
  }
}

.SelectViewport {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.SelectGroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.SelectItem {
  color: variables.$text-base;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  position: relative;
  height: 2rem;
  font-size: 0.875rem;
  flex-shrink: 0;
}
.SelectItem[data-disabled] {
  color: variables.$text-disabled;
  // pointer-events: none;
}
.SelectItem[data-highlighted] {
  background-color: variables.$ghost-bg-hover;
}
.SelectItem[data-state="checked"] {
  @include variants.solid;
}

.SelectLabel {
  padding-left: 2rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: variables.$text-base;
  user-select: none;
}

.SelectSeparator {
  height: variables.$border-width;
  background-color: variables.$outlined-border;
  margin: 0.25rem 0;
}

.SelectItemIndicator {
  width: 1rem;
  height: 1rem;
  color: inherit;
  pointer-events: none;
  @include flex.centered;
  position: absolute;
  left: 0.5rem;
  top: calc(0.5rem + 1px); // Looks better 1px further down
}

.SelectScrollButton {
  @include flex.centered;
  height: 25px;
  background-color: white;
  cursor: default;
}
