
@use '/src/style/flex';
@use '/src/style/variables';
@use '/src/style/variants';
@use '/src/style/corners';
@use '/src/style/shadows';
@use '/src/style/text';

$default-padding: 1rem;

.Card {
  @include variants.outlined($hover: false);
  @include shadows.surfaceShadow;
  @include corners.normal;
  @include flex.stretchy;
  & {
    overflow: hidden;
    background-color: variables.$card-bg;
  }

  &--danger {
    @include variants.outlinedDanger($hover: false);
  }

  &__Header {
    padding: 1rem;
    padding-bottom: 0;

    &--danger {
      color: variables.$red;
    }
  }

  &__Description {
    @include text.ui;
    color: variables.$text-muted;
  }

  &__Body {
    padding: $default-padding;
    width: 100%;


    &--noPadding {
      padding: 0;
    }
  }


}
