@use 'src/style/mixins.scss';
@use "src/style/variables";

$default-padding: 1rem;

.Card {
  @include mixins.border;
  @include mixins.surfaceShadow;
  
  background-color: variables.$card-bg;
  border-radius: variables.$corner-radius;
  box-sizing: border-box;

  overflow: hidden;



  &__Header {
    padding: 1rem;
    padding-bottom: 0
  }

  &__Description {
    @include mixins.uiText;
    color: variables.$text-muted;
  }

  &__Body {
    padding: $default-padding;



    &--noPadding {
      padding: 0;
    }
  }


}
