@use 'src/style/mixins.scss';
@use "src/style/variables";

$default-padding: 1rem;

.Card {
  @include mixins.border;
  @include mixins.surfaceShadow;
  
  background-color: variables.$card-bg;
  border-radius: variables.$corner-radius;
  box-sizing: border-box;
  padding: $default-padding;

  &-noPadding {
    padding: none;
  }

  &-hasHeader {
    padding-top: 1rem;
  }
}

.CardHeader {
  margin-bottom: 1rem;
}

.CardDescription {
  @include mixins.uiText;
  color: variables.$text-muted;
}