@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/text";

$default-padding: 1rem;

.Card {
  @include flex.column($gap: 0);
  @include variants.outlined($hover: false);
  @include shadows.surface-shadow;
  @include corners.normal;
  @include flex.stretchy;

  min-height: 0;
  max-height: 100%;

  & {
    overflow: hidden;
    background-color: variables.$card-bg;
  }

  &-danger {
    @include variants.outlined-danger($hover: false);
  }

  &_Header {
    padding: 1rem;

    &-danger {
      color: variables.$red;
    }
  }

  &_Description {
    @include text.ui;

    color: variables.$text-muted;
  }

  &_Body {
    @include flex.column($gap: 0);
    @include flex.stretchy;

    overflow: hidden;
    width: 100%;
    padding: $default-padding;

    &-hasHeader {
      padding-top: 0;
    }

    &-noPadding {
      padding: 0;
    }
  }
}
