@use 'src/style/mixins.scss';
@use "src/style/variables" as *;

.Card {
  @include mixins.border;
  @include mixins.surfaceShadow;
  
  background-color: $card-bg;
  border-radius: $corner-radius;
  box-sizing: border-box;
  padding: 1.5rem;

  &-noPadding {
    padding: none;
  }
}

