@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/variants";

.App {
  @include flex.column($gap: 0);

  overflow: hidden;
  width: 100vw;
  height: 100vh;

  &-minWidthError {
    @include flex.centered;

    padding: 2rem;
  }

  &_Auth {
    @include flex.row($gap: 0);
  }

  &_AuthLink {
    @include variants.button-link;
  }
}
