@use "/src/style/variables";
@use "/src/style/flex";

.App {
  @include flex.column($gap: 0);

  overflow: hidden;
  width: 100vw;
  height: 100vh;

  &-minWidthError {
    @include flex.centered;

    padding: 2rem;
  }
}
