@use "/src/style/variables";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/variants";

.Link {
  @include variants.ghost;
  @include corners.normal;

  display: grid;
  grid-template-columns: 26px auto;
  gap: 0.75rem;

  padding: 0.5rem;

  text-decoration: none;
}

.Logo {
  @include flex.centered;

  grid-template-columns: 1/2;

  width: 2.5rem;
  height: 2.5rem;
  margin-left: -7px;

  color: var(--text-color-default);
}

.Name {
  @include flex.centered;

  grid-template-columns: 2/3;

  width: min-content;

  font-size: 1rem; // This is more of a graphical element, so it should always be this size
  font-weight: 600;
  line-height: 1rem;
  color: var(--text-color-default);
}
