@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/text";

.TournamentRosterCard {
  padding-bottom: var(--container-padding-y);

  &_Filters {
    @include flex.row;
  }

  &_EmptyState {
    @include flex.stretchy;
    @include flex.centered;
    @include text.ui($muted: true);

    padding: 4rem;
  }

  &_Table {
    --table-padding: var(--container-padding-x);
    --cell-padding-y: 1rem;
  }

  &_ReadyIndicatorIcon {
    @include text.ui;

    height: 1.5rem;
  }
}
