@use "/src/style/text";
@use "/src/style/flex";

.Root {
  @include text.ui;

  gap: 1rem;

  &[data-orientation="horizontal"] {
    display: grid;
    grid-template-areas: "meta meta" "set-up outcome";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    .MetaSection {
      @include flex.row;
    }
  }

  &[data-orientation="vertical"] {
    @include flex.column;

    column-gap: 1rem;
  }
}

.MetaSection {
  grid-area: meta;
}

.SetUpSection {
  display: grid;
  grid-area: set-up;
  grid-template-columns: auto 1fr;
  row-gap: 0.25rem;
  column-gap: 1rem;

  h3 {
    grid-column: 1/3;
  }
}

.OutcomeSection {
  display: grid;
  grid-area: outcome;
  grid-template-columns: auto 1fr;
  row-gap: 0.25rem;
  column-gap: 1rem;

  h3 {
    grid-column: 1/3;
  }
}

.DetailLabel {
  @include text.ui($muted: true);

  display: inline-block;
}

.DetailValue {
  @include text.ui;

  display: inline-block;
}
