@use "/src/style/flex";
@use "/src/style/corners";
@use "/src/style/borders";
@use "/src/style/text";
@use "/src/style/variables";

.Warning {
  --icon-size: 1.25rem;
  --spacing: 1rem;

  @include text.ui;
  @include corners.normal;

  // @include borders.warning;

  display: grid;
  grid-template-columns: 1rem 1fr;
  row-gap: 0.5rem;
  column-gap: var(--spacing);

  padding: var(--spacing);

  &[data-intent="warning"] {
    color: var(--text-color-warning);
    background-color: var(--card-bg-warning);
  }

  &[data-intent="danger"] {
    color: var(--text-color-negative);
    background-color: var(--card-bg-danger);
  }

  h3 {
    line-height: var(--icon-size);
  }

  &_Icon {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  &_Body {
    @include flex.column($gap: 0.5rem);

    grid-column: 2;
    color: inherit;
  }
}
