.CarouselContent {
  width: 100%;
  height: 100%;
  background-color: black;
}

.CarouselContentInner {
  display: flex;
  width: 100%;
  height: 100%;

  &[data-orientation="horizontal"] {
    flex-direction: row;
  }

  &[data-orientation="vertical"] {
    flex-direction: column;
  }
}
