@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/variables";

.MenuItem {
  @include flex.row($gap: 0.75rem);
  @include variants.ghost;
  @include corners.tight;
  @include text.ui;

  height: 2.5rem;
  margin: 0 0.25rem;
  padding: 0.5rem;
  padding-right: 1.5rem;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.MenuItem-disabled {
  pointer-events: none;
  color: variables.$text-disabled;
}
