@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/text";

.TournamentRankingsCard {
  &_Filters {
    @include flex.row;
  }

  &_EmptyState {
    @include flex.stretchy;
    @include flex.centered;
    @include text.ui($muted: true);

    padding-bottom: 4rem;
  }

  &_Table {
    --table-padding: var(--container-padding-x);
    --cell-padding-y: 1rem;
  }
}
