@use "/src/style/flex";
@use "/src/style/corners";
@use "/src/style/borders";
@use "/src/style/text";
@use "/src/style/variables";

.ConfirmationDialog {
  &_Body {
    @include flex.column;

    &[data-padding="true"] {
      padding: 0 var(--container-padding-x);
    }
  }
}
