@use "/src/style/borders";
@use "/src/style/corners";
@use "/src/style/colors";
@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/variables";

.CompetitorCardWide {
  width: 16rem;
  height: 3rem;
}

.CompetitorCardCompact {
  width: 7rem;
  height: 5rem;
}

.Pairings {
  @include flex.column;

  // background-color: green;
}

.PairedSection {
  display: grid;
  grid-template-columns: 1fr 1rem 1fr 1rem;
  grid-template-rows: auto;
  gap: 0.5rem;

  background-color: blue;
}

.UnpairedSection {
  @include corners.normal;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  padding-right: 3rem;

  background-color: colors.$grey-2;
}

.CompetitorSlot {
  @include corners.normal;

  padding: 0.25rem;
  background-color: colors.$grey-2;
}

// Mobile break
@media (width >= 688px) {
  .Pairings {
    display: grid;
    grid-template-columns: 1fr auto 1fr 1rem 1fr 1rem;
    grid-template-rows: auto auto;
    gap: 0.5rem;

    // background-color: red;
  }

  .UnpairedSectionHeading {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .PairedSectionHeading {
    grid-column: 3/7;
    grid-row: 1/2;
  }

  .UnpairedSection {
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 1fr;
    padding-right: 0;
  }

  .PairedSection {
    grid-column: 3/7;
    grid-row: 2/3;
  }

  .Separator {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 0.5rem;
  }
}
