@use "/src/style/flex";

.FlamesOfWarV4GameSystemConfigFields {
  @include flex.column;

  &_CoreConfig {
    @include flex.stackable;
  }

  &_AdvancedOptions {
    @include flex.column;
  }

  &_Missions {
    @include flex.stackable;
  }

  &_Rules {
    @include flex.column;
  }
}
