@use '/src/style/variables';
@use '/src/style/animate';
@use '/src/style/variants';
@use '/src/style/shadows';
@use '/src/style/corners';

.AccountMenu {
  &_Trigger {
    @include corners.round;
    @include variants.reset;
  }

  &_Content {
    @include animate.duration-quick;
    @include animate.style-pop;
    @include corners.normal;
    @include shadows.shadow;
    @include variants.outlined($hover: false);

    & {
      margin: 0.25rem 0.5rem;
      padding: 0.25rem;
      background-color: variables.$card-bg;
    }
  }
}