@use "/src/style/variables";
@use "/src/style/animate";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/text";

.Trigger {
  @include corners.round;
  @include variants.reset;

  width: 2.5rem;
  height: 2.5rem;
}

.Content {
  @include flex.column($gap: 0.25rem);
  @include animate.duration-quick;
  @include corners.normal;
  @include shadows.elevated;
  @include variants.card;

  margin: 0.25rem 0;
  padding: 0.25rem;
  background-color: var(--card-bg);

  @include animate.style-pop; // Must list last because it contains nested declarations
}

.UserDisplayName {
  @include text.ui($muted: true);

  padding: 0.5rem 1rem;
}
