@use '/src/style/variables';
@use '/src/style/animate';
@use '/src/style/variants';
@use '/src/style/shadows';
@use '/src/style/corners';

.AccountMenu {
  &__Trigger {
    @include corners.round;
    @include variants.reset;
  }
  &__Content {
    @include animate.durationQuick;
    @include animate.stylePop;
    @include corners.normal;
    @include shadows.shadow;
    @include variants.outlined($hover: false);
    & {
      background-color: variables.$card-bg;
      margin: 0.25rem 0.5rem;
      padding: 0.25rem;
    }
  }
}