@use '/src/style/mixins';
@use '/src/style/variables';
@use '/src/style/animate';

.AccountMenuTrigger {
  border-radius: 100%;
  border: none;
  background-color: transparent;
}
.AccountMenuContent {
  @include mixins.border;
  @include mixins.shadow;
  @include animate.durationQuick;
  @include animate.stylePop;

  & {
    background-color: variables.$card-bg;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem;
    border-radius: variables.$corner-radius;
    box-sizing: border-box;
  }
}