@use "/src/style/variables";
@use "/src/style/animate";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/sizes";

.Trigger {
  @include corners.round;
  @include variants.reset;

  width: 2.5rem;
  height: 2.5rem;
}

.AuthMenuTrigger {
  @include sizes.normal;
  @include variants.ghost;
  @include corners.round;
  @include flex.centered;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

.Content {

  @include variants.card($elevated: true);
  @include animate.duration-quick;

  min-width: 12rem;
  margin: 0.25rem 0;

  @include animate.style-pop; // Must list last because it contains nested declarations
}

.UserDisplayName {
  @include text.ui($muted: true);
  @include text.single-line;

  height: 2.5rem;
  padding: 0.75rem;
}

.Items {
  @include flex.column($gap: 0);

  padding: 0.25rem;
}

.Item {
  @include variants.ghost;
  @include corners.normal;
  @include flex.row($gap: 0.5rem);
  @include text.ui;

  height: 2.5rem;
  padding: 0 0.5rem;

  svg {
    width: 1rem;
    height: 1rem;
  }
}
