@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/text";

.TournamentPairingsCard {
  padding-bottom: var(--container-padding-y);

  &_Filters {
    @include flex.row;
  }

  &_EmptyState {
    @include flex.stretchy;
    @include flex.centered;
    @include text.ui($muted: true);

    padding-bottom: 4rem;
  }

  &_Table {
    --table-padding: var(--container-padding-x);
  }

  &_TableNumber {
    @include text.large;
  }

  &_Pairing {
    padding: 0.5rem;
  }

  &_MatchIndicatorIcon {
    width: 1.25rem;
    height: 1.25rem;
    stroke: currentcolor;
  }

  &_MatchIndicatorInner {
    @include text.ui;
  }
}
