@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/borders";
@use "/src/style/backgrounds";
@use "/src/style/sizes";

.TournamentTabHeader {
  @include flex.row($gap: 0.5rem, $yAlign: center);
  @include sizes.normal;

  position: relative;
  box-sizing: content-box; // Make the height apply to the inside, without padding
  padding: 1rem var(--container-padding-x);

  &_Actions {
    @include flex.row($gap: 0.5rem, $xAlign: center);

    margin-left: auto;
  }
}
