@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/borders";
@use "/src/style/backgrounds";

.TournamentDetailsCard {
  @include flex.column($gap: 0);

  overflow: hidden;

  &_ScrollArea {
    @include flex.stretchy;
  }
}
