@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/borders";

.Root {
  @include borders.normal($side: top);

  background-color: var(--card-bg);
}

.Content {
  @include flex.row($xAlign: right);
  @include flex.stretchy;

  margin: 0 auto;
  padding: 0.5rem var(--modal-outer-gutter);
}
