@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/animate";
@use "/src/style/variables";
@use "/src/style/corners";
@use "/src/style/borders";
@use "/src/style/text";

.TournamentInfoBlock {
  @include flex.column($gap: 0.5rem);

  &_InfoLine {
    @include text.ui;

    overflow: hidden;
    display: grid;
    grid-template-columns: 1rem 1fr;
    column-gap: 0.5rem;

    min-width: 0;

    a {
      font-size: inherit;
      line-height: inherit;
    }

    svg {
      grid-column: 1/2;
      flex-shrink: 0;
      width: 1rem;
      height: 1rem;
    }

    span {
      @include text.single-line;

      display: block;
      grid-column: 2/-1;
      min-width: 0;
    }
  }
}
