
@use '/src/style/variables';
@use '/src/style/text';

.FormField {
  &__Label {
    margin-bottom: 0.375rem;
  }
  &__Description {
    @include text.ui($muted: true);
    font-size: 0.75rem;
    margin-top: 0.25rem;
    color: variables.$text-muted;
  }
  &__Errors {
    @include text.ui;
    color: variables.$red;
  }
}
