
@use '/src/style/variables';
@use '/src/style/text';
@use '/src/style/flex';

.FormField {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1rem 2.5rem 1rem;
  gap: 0.375rem 0.5rem;

  // @include flex.column($gap: 0.375rem);

  &-horizontal {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 0 1rem;
  }


  &_Label {
    @include flex.row;

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    &-horizontal {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    &-disabled {
      color: variables.$text-disabled;
    }
  }

  &_Input {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    &-horizontal {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &_Description {
    @include text.ui($muted: true);

    grid-column: 1 / 3;
    grid-row: 3 / 4;
    line-height: 1rem;
    color: variables.$text-muted;

    &-horizontal {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &-disabled {
      color: variables.$text-disabled;
    }


  }

  &_Errors {
    @include text.ui;

    color: variables.$red;
  }
}
