@use '/src/style/mixins';
@use '/src/style/variables';

.FormFieldLabel {
  margin-bottom: 0.375rem;
}

.FormFieldDescription {
  @include mixins.uiText;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  color: variables.$text-muted;
}

.FormFieldErrors {
  @include mixins.uiText;
  color: variables.$red;
}