@use "/src/style/variables";
@use "/src/style/text";
@use "/src/style/flex";

@mixin form-field-basis {
  width: 100%;
}

.Root-vertical {
  @include form-field-basis;

  @include flex.column($gap: 0.25rem);
}

.Root-horizontal {
  @include form-field-basis;

  display: grid;
  grid-template: "input label" minmax(2.5rem, auto) ". description" auto / auto 1fr;
  gap: 0.375rem 0.5rem;
  gap: 0 1rem;

  .Label {
    align-content: center;
    align-self: center;
  }
}

.Root {
  .Label {
    grid-area: label;
  }

  .Input {
    grid-area: input;
  }

  .Errors {
    @include text.ui;

    grid-area: description;
    line-height: 1rem;
    color: variables.$text-error;

    &:empty {
      display: none;
    }
  }

  .Description {
    @include text.ui($muted: true);

    grid-area: description;
    line-height: 1rem;

    &:empty {
      display: none;
    }
  }
}
