@use "/src/style/variables";
@use "/src/style/text";
@use "/src/style/flex";

@mixin form-field-basis {
  width: 100%;
  min-width: 0;
}

.Root-vertical {
  @include form-field-basis;

  @include flex.column($gap: var(--form-field-gap));
}

.Root-horizontal {
  @include form-field-basis;

  display: grid;
  grid-template: "input label" auto ". description" auto / var(--input-width, auto) 1fr;
  row-gap: 0.25rem;
  column-gap: 0.5rem;

  .Label {
    align-content: center;
    align-self: center;
  }
}

.Root {
  .Label {
    grid-area: label;
  }

  .Input {
    grid-area: input;
  }

  .Errors {
    @include text.ui;

    grid-area: description;
    font-weight: 300;
    line-height: 1rem;
    color: var(--text-color-negative);

    &:empty {
      display: none;
    }
  }

  .Description {
    @include text.ui($muted: true);

    grid-area: description;
    font-weight: 300;

    &:empty {
      display: none;
    }
  }
}
