
@use '/src/style/variables';
@use '/src/style/text';

.FormField {
  &_Label {
    margin-bottom: 0.375rem;
  }

  &_Description {
    @include text.ui($muted: true);

    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: variables.$text-muted;
  }

  &_Errors {
    @include text.ui;

    color: variables.$red;
  }
}
