@use "/src/style/variables";
@use "/src/style/text";
@use "/src/style/flex";

@mixin form-field-basis {
  width: 100%;
}

.Root-vertical {
  @include form-field-basis;

  @include flex.column($gap: 0.25rem);
}

.Root-horizontal {
  @include form-field-basis;

  display: grid;
  grid-template: "input label" minmax(2.5rem, auto) ". description" auto / auto 1fr;
  gap: 0.375rem 0.5rem;
  gap: 0 1rem;

  .Label {
    align-content: center;
    align-self: center;
  }
}

.Root {
  .Label {
    grid-area: label;
  }

  .Input {
    grid-area: input;
  }

  .Description {
    @include text.ui($muted: true);

    grid-area: description;
    line-height: 1rem;
    color: variables.$text-muted;

    &:empty {
      display: none;
    }
  }
}

// .FormField {
//   display: grid;
//   grid-template-columns: 100%;
//   grid-template-rows: 1rem 2.5rem 1rem;
//   gap: 0.375rem 0.5rem;

//   width: 100%;

//   &-horizontal {
//     grid-template-columns: auto 1fr;
//     grid-template-rows: auto;
//     gap: 0 1rem;
//   }

//   &_Label {
//     @include flex.row;

//     grid-column: 1 / 2;
//     grid-row: 1 / 2;

//     &-horizontal {
//       grid-column: 2 / 3;
//       grid-row: 1 / 2;
//     }

//     &-disabled {
//       color: variables.$text-disabled;
//     }
//   }

//   &_Input {
//     grid-column: 1 / 2;
//     grid-row: 2 / 3;

//     &-horizontal {
//       grid-column: 1 / 2;
//       grid-row: 1 / 2;
//     }
//   }

//   &_Description {
//     @include text.ui($muted: true);

//     grid-column: 1 / 2;
//     grid-row: 3 / 4;
//     line-height: 1rem;
//     color: variables.$text-muted;

//     &-horizontal {
//       grid-column: 2 / 3;
//       grid-row: 2 / 3;
//     }

//     &-disabled {
//       color: variables.$text-disabled;
//     }
//   }

//   &_Errors {
//     @include text.ui;

//     color: variables.$red;
//   }
// }
