@use "/src/style/flex";

.TournamentCompetitorIdentity {
  @include flex.row($gap: 0.75rem);

  margin: -0.5rem;
  padding: 0.5rem;

  &[data-clickable="false"] {
    pointer-events: none;
  }

  &_Avatar {
    flex: 0 auto;
    padding: 0;
  }

  span {
    flex-shrink: 0;
  }
}
