@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/variants";
@use "/src/style/borders";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/text";

.CompetitorActions {
  @include flex.row($xAlign: right);

  flex-shrink: 0;
}
