@use '/src/style/mixins';
@use '/src/style/variables';

.FormTextFieldLabel {
  @include mixins.uiText;

  font-weight: 500;
  line-height: 0.875rem;
  margin-bottom: 0.375rem;
  display: block;


  // &-error {
  //   color: variables.$red;
  // }
}

.FormTextFieldDescription {
  @include mixins.uiText;
  margin-top: 0.25rem;
  color: variables.$text-muted;
}

.FormTextFieldErrors {
  @include mixins.uiText;
  color: variables.$red;
}