@mixin durationSlow {
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
}

@mixin durationQuick {
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
}

@mixin styleSlideLeft {
  &[data-state='open'] {
    animation-name: slideInLeft;
  }
  &[data-state='closed'] {
    animation-name: slideOutLeft;
  }
}

@mixin styleSlideRight {
  &[data-state='open'] {
    animation-name: slideInRight;
  }
  &[data-state='closed'] {
    animation-name: slideOutRight;
  }
}

@mixin styleSlideUp {
  &[data-state='open'] {
    animation-name: slideInBottom;
  }
  &[data-state='closed'] {
    animation-name: slideOutBottom;
  }
}

@mixin styleSlideDown {
  &[data-state='open'] {
    animation-name: slideInTop;
  }
  &[data-state='closed'] {
    animation-name: slideOutTop;
  }
}

@mixin stylePop {
  &[data-state='open'] {
    animation-name: popIn;
  }
  &[data-state='closed'] {
    animation-name: popOut;
  }
}

@mixin styleFade {
  &[data-state='open'] {
    animation-name: fadeIn;
  }
  &[data-state='closed'] {
    animation-name: fadeOut;
  }
}
