@use 'variables';

@mixin normal($side: all) {
  border-color: variables.$outlined-border;
  border-width: variables.$border-width;

  @if $side == all {
    border-style: solid;
  }

  @if $side == top {
    border-style: none;
    border-top-style: solid;
  }

  @if $side == bottom {
    border-style: none;
    border-bottom-style: solid;
  }

  @if $side == left {
    border-style: none;
    border-left-style: solid;
  }

  @if $side == right {
    border-style: none;
    border-right-style: solid;
  }

}

@mixin muted {
  border-color: variables.$outlined-muted-border;
  border-style: solid;
  border-width: variables.$border-width;
}

@mixin danger {
  border-color: variables.$outlined-danger-border;
  border-style: solid;
  border-width: variables.$border-width;
}

@mixin disabled {
  border-color: variables.$outlined-disabled-border;
  border-style: solid;
  border-width: variables.$border-width;
}