@use 'variables';

@mixin normal {
  border-color: variables.$outlined-border;
  border-style: solid;
  border-width: variables.$border-width;
}

@mixin muted {
  border-color: variables.$outlined-muted-border;
  border-style: solid;
  border-width: variables.$border-width;
}

@mixin danger {
  border-color: variables.$outlined-danger-border;
  border-style: solid;
  border-width: variables.$border-width;
}

@mixin disabled {
  border-color: variables.$outlined-disabled-border;
  border-style: solid;
  border-width: variables.$border-width;
}