@use "variables";

@mixin normal($side: all) {
  border-color: var(--border-color);
  border-width: var(--border-width);

  @if $side == all {
    border-style: solid;
  }

  @if $side == top {
    border-style: none;
    border-top-style: solid;
  }

  @if $side == bottom {
    border-style: none;
    border-bottom-style: solid;
  }

  @if $side == left {
    border-style: none;
    border-left-style: solid;
  }

  @if $side == right {
    border-style: none;
    border-right-style: solid;
  }
}

@mixin danger {
  border-color: var(--outlined-danger-border);
  border-style: solid;
  border-width: var(--border-width);
}

@mixin dashed {
  border-color: var(--border-color);
  border-style: dashed;
  border-width: var(--border-width);
}
