@use 'sass:color';


$white:  hsl(220, 0%, 100%);

$grey-0: hsl(210, 1%,  97.5%);
$grey-1: hsl(210, 2%,  95%); 
$grey-2: hsl(210, 3%,  85%);
$grey-3: hsl(210, 5%,  75%);
$grey-4: hsl(210, 7%,  60%);
$grey-5: hsl(210, 9%,  40%);
$grey-6: hsl(210, 12%, 25%);
$grey-7: hsl(210, 15%, 15%);



$grey-0: hsl(210, 1%,  97.500%); // 100%
$grey-1: hsl(210, 2%,  73.346%); 
$grey-2: hsl(210, 3%,  55.176%);
$grey-3: hsl(210, 5%,  75%);
$grey-4: hsl(210, 7%,  31.225%); // 50%
$grey-5: hsl(210, 9%,  40%);
$grey-6: hsl(210, 12%, 25%);
$grey-7: hsl(210, 15%, 15%);
$grey-8: hsl(210, 15%, 15%); // 0%