/**
 * These mixins exist primarily to avoid constant repetition.
 */
@mixin row ($gap: 1rem, $xAlign: left, $yAlign: top) {
  display: flex;
  flex-direction: row;
  gap: $gap;
  @if $xAlign == left {
    justify-content: start;
  }
  @if $xAlign == center {
    justify-content: center;
  }
  @if $xAlign == right {
    justify-content: end;
  }
  @if $yAlign == top {
    align-items: start;
  }
  @if $yAlign == center {
    align-items: center;
  }
  @if $yAlign == bottom {
    align-items: end;
  }
}

@mixin column ($gap: 1rem, $xAlign: left, $yAlign: top) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  @if $xAlign == left {
    align-items: left;
  }
  @if $xAlign == center {
    align-items: center;
  }
  @if $xAlign == right {
    align-items: right;
  }
  @if $yAlign == top {
    justify-content: start;
  }
  @if $yAlign == center {
    justify-content: center;
  }
  @if $yAlign == right {
    justify-content: end;
  }
}

@mixin centered ($gap: 1rem) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin stretchy {
  flex: 1 auto;
}