@use "@radix-ui/colors/black-alpha.css";
@use "@radix-ui/colors/white-alpha.css";

@mixin surface {
  box-shadow: 0 2px 4px 0 var(--black-a2);
}

@mixin elevated {
  box-shadow:
    0 10px 38px -10px var(--black-a5),
    0 10px 20px -15px var(--black-a4);
}
