:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0px 1px 1.1px hsl(var(--shadow-color) / 52%),
    0px 4px 4.5px -2.5px hsl(var(--shadow-color) / 52%);
  --shadow-elevation-medium:
    0px 1px 1.1px hsl(var(--shadow-color) / 48%),
    0px 5.2px 5.9px -1.2px hsl(var(--shadow-color) / 48%),
    0px 20px 22.5px -2.5px hsl(var(--shadow-color) / 48%);
  --shadow-elevation-high:
    0px 1px 1.1px hsl(var(--shadow-color) / 54%),
    0px 9.5px 10.7px -0.6px hsl(var(--shadow-color) / 54%),
    0px 22.7px 25.5px -1.2px hsl(var(--shadow-color) / 54%),
    0px 49.7px 55.9px -1.9px hsl(var(--shadow-color) / 54%),
    0px 100px 112.5px -2.5px hsl(var(--shadow-color) / 54%);
}

@mixin surface {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

@mixin elevated {
  // box-shadow:
  //   0 10px 38px -10px rgb(0 0 0 / 35%),
  //   0 10px 20px -15px rgb(0 0 0 / 20%);
  box-shadow: var(--shadow-elevation-medium);
}

// MUI 1
// box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);

// MUI 2
// box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);

// MUI 3
// box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2),0px 3px 4px 0px rgba(0,0,0,0.14),0px 1px 8px 0px rgba(0,0,0,0.12);
