
// 40px, approximately 1cm x 1cm on mobile with 3x resolution
@mixin mobile-hit-box {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 2.5rem;
  height: 2.5rem;
}

@mixin tiny($square: false) {
  min-width: 1.5rem;
  height: 1.5rem;

  @if $square {
    width: 1.5rem;
  }

  &::before {
    @include mobile-hit-box;
  }
}

@mixin small($square: false) {
  min-width: 2rem;
  height: 2rem;

  @if $square {
    width: 1.5rem;
  }

  &::before {
    @include mobile-hit-box;
  }
}

@mixin normal {
  min-width: 2.5rem;
  height: 2.5rem;
}

@mixin large {
  min-width: 3rem;
  height: 3rem;
}