
// 40px, approximately 1cm x 1cm on mobile with 3x resolution
@mixin mobileHitBox {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 2.5rem;
  height: 2.5rem;
}

@mixin tiny {
  height: 1.5rem;
  min-width: 1.5rem;
  &::before {
    @include mobileHitBox;
  }
}

@mixin small {
  height: 2rem;
  min-width: 2rem;
  &::before {
    @include mobileHitBox;
  }
}

@mixin normal {
  height: 2.5rem;
  min-width: 2.5rem;
}

@mixin large {
  height: 3rem;
  min-width: 3rem;
}