@use "variables";

@mixin ui($bold: false, $muted: false, $link: false) {
  font-size: var(--font-size-normal);
  font-weight: 400;
  line-height: var(--line-height-normal);
  color: var(--text-color-default);

  @if $bold == true {
    font-weight: 500;
  }

  @if $muted == true {
    font-weight: 300;
    color: var(--text-color-muted);
  }

  @if $link == true {
    color: variables.$text-link;
  }
}

@mixin small($bold: false, $muted: false, $link: false) {
  font-size: var(--font-size-small);
  font-weight: 400;
  line-height: var(--line-height-small);
  color: var(--text-color-default);

  @if $bold == true {
    font-weight: 500;
  }

  @if $muted == true {
    color: var(--text-color-muted);
  }

  @if $link == true {
    color: variables.$text-link;
  }
}

@mixin large($bold: false, $muted: false) {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  color: var(--text-color-default);

  @if $muted == true {
    color: var(--text-color-muted);
  }
}

// - `text.uiBold` 0.875rem x 1.25rem, 700
// - `text.uiMuted` 0.875rem x 1.25rem, 700
// - `text.normal` 0.875rem, muted color

@mixin max-lines($lines: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;

  text-overflow: ellipsis;
}

@mixin single-line {
  overflow: hidden;
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
