@use "sass:color";

:root {
  --modal-inner-gutter: 1rem;
  --modal-outer-gutter: 0.5rem;
  --font-size-normal: 1rem;
  --line-height-normal: 1.5rem;
  --font-size-small: 0.875rem;
  --line-height-small: 1.25rem;
}

@media (width >= 688px) {
  :root {
    --modal-inner-gutter: 1.5rem;
    --modal-outer-gutter: 1rem;
  }
}

@media (width >= 480px) {
  :root {
    --font-size-normal: 0.875rem;
    --line-height-normal: 1.25rem;
    --font-size-small: 0.75rem;
    --line-height-small: 1rem;
  }
}

// Layout
$corner-radius: 0.375rem;
$border-width: 1px;
$app-bar-height: 4rem;
$icon-button-icon-size: 1.25rem;

// BASE COLORS
$white: hsl(0deg 0% 100%);
$red: hsl(0deg 85% 60%);
$blue: hsl(205deg 100% 50%);

// APPLIED
$text-base: hsl(220deg 5% 10%);
$text-muted: color.adjust($text-base, $lightness: 40%);
$text-disabled: color.adjust($text-base, $lightness: 60%);
$text-error: $red;
$text-link: $blue;
$page-bg: hsl(220deg 5% 97.5%);
$card-bg: $white;
$border-color: color.adjust($text-base, $alpha: -0.9);
$modal-overlay-bg-color: rgb(0 0 0 / 80%);

// Solid
$solid-bg: $text-base;
$solid-bg-hover: color.adjust($solid-bg, $lightness: 20%);
$solid-bg-disabled: color.adjust($solid-bg, $lightness: 30%);
$solid-text: $white;

// Solid (Muted)
$solid-muted-bg: color.adjust($solid-bg, $lightness: 85%);
$solid-muted-bg-hover: color.adjust($solid-muted-bg, $lightness: 2.5%);
$solid-muted-bg-disabled: color.adjust($solid-bg, $lightness: 10%);
$solid-muted-text: $text-base;

// Solid (Danger)
$solid-danger-bg: $red;
$solid-danger-bg-hover: color.adjust($solid-danger-bg, $lightness: 10%);
$solid-danger-bg-disabled: color.adjust($solid-bg, $lightness: 10%);
$solid-danger-text: $solid-text;

// Solid (Danger, Muted)
$solid-danger-muted-bg: color.adjust($solid-danger-bg, $lightness: 35%);
$solid-danger-muted-bg-hover: color.adjust($solid-danger-muted-bg, $lightness: 2.5%);
$solid-danger-muted-bg-disabled: color.adjust($solid-bg, $lightness: 10%);
$solid-danger-muted-text: $red;

// Outlined
$outlined-bg: $white;
$outlined-bg-hover: color.adjust($outlined-bg, $lightness: -2.5%);
$outlined-text: $text-base;
$outlined-border: $border-color;

// Outlined (Disabled)
$outlined-disabled-bg: $white;
$outlined-disabled-bg-hover: $outlined-bg;
$outlined-disabled-text: $text-disabled;
$outlined-disabled-border: color.adjust($border-color, $alpha: -0.025);

// Outlined (Muted)
$outlined-muted-bg: $outlined-bg;
$outlined-muted-bg-hover: $outlined-bg-hover;
$outlined-muted-text: $text-muted;
$outlined-muted-border: color.adjust($outlined-border, $lightness: 20%);

// Outlined (Danger)
$outlined-danger-bg: $white;
$outlined-danger-bg-hover: color.adjust($red, $lightness: 35%);
$outlined-danger-text: $red;
$outlined-danger-border: $red;

// Ghost
$ghost-bg: transparent;
$ghost-bg-hover: color.adjust($text-base, $alpha: -0.975);
$ghost-text: $text-base;
