@use "variables";
@use "/src/style/borders";

// TODO: Move to utils
@mixin reset {
  background-color: transparent;
  border: none;
}

@mixin variant-defaults {
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;
  transition-property: color, background-color;
}

@mixin solid($hover: true) {
  @include variant-defaults;

  color: variables.$solid-text;
  background-color: variables.$solid-bg;
  border: none;

  @if $hover {
    &:hover {
      background-color: variables.$solid-bg-hover;
    }
  }
}

@mixin solid-danger($hover: true) {
  @include variant-defaults;

  color: variables.$solid-danger-text;
  background-color: variables.$solid-danger-bg;
  border: none;

  @if $hover {
    &:hover {
      background-color: variables.$solid-danger-bg-hover;
    }
  }
}

@mixin solid-muted($hover: true) {
  @include variant-defaults;

  color: variables.$solid-muted-text;
  background-color: variables.$solid-muted-bg;
  border: none;

  @if $hover {
    &:hover {
      background-color: variables.$solid-muted-bg-hover;
    }
  }
}

@mixin outlined($hover: true) {
  @include variant-defaults;
  @include borders.normal;

  color: variables.$outlined-text;
  background-color: variables.$outlined-bg;

  @if $hover {
    &:hover {
      background-color: variables.$outlined-bg-hover;
    }
  }
}

@mixin outlined-disabled {
  @include variant-defaults;
  @include borders.disabled;

  color: variables.$outlined-disabled-text;
  background-color: variables.$outlined-disabled-bg;

  &:hover {
    background-color: variables.$outlined-disabled-bg-hover;
  }
}

@mixin outlined-muted($hover: true) {
  @include variant-defaults;
  @include borders.muted;

  color: variables.$outlined-muted-text;
  background-color: variables.$outlined-muted-bg;

  @if $hover {
    &:hover {
      background-color: variables.$outlined-muted-bg-hover;
    }
  }
}

@mixin outlined-danger($hover: true) {
  @include variant-defaults;
  @include borders.danger;

  color: variables.$outlined-danger-text;
  background-color: variables.$outlined-danger-bg;

  @if $hover {
    &:hover {
      background-color: variables.$outlined-danger-bg-hover;
    }
  }
}

@mixin ghost($hover: true) {
  @include variant-defaults;

  color: variables.$ghost-text;
  background-color: variables.$ghost-bg;
  border: none;

  @if $hover {
    &:hover {
      background-color: variables.$ghost-bg-hover;
    }
  }
}
