@use 'sass:color';

// Layout
$corner-radius: 0.375rem;
$border-width: 1px;
$app-bar-height: 4rem;
$icon-button-icon-size: 1.25rem;

// BASE COLORS
$white: hsl(0, 0%, 100%);
$red: hsl(0, 85%, 60%);

// APPLIED
$text-base: hsl(220, 5%, 10%);
$text-muted: color.adjust($text-base, $lightness: 40%);
$text-disabled: color.adjust($text-base, $lightness: 60%);
$page-bg: hsl(220, 5%, 97.5%);
$card-bg: $white;
$border-color: color.adjust($text-base, $alpha: -0.90);
$modal-overlay-bg-color: rgba(0,0,0,0.8);

// Solid
$solid-bg: $text-base;
$solid-bg-hover: color.adjust($solid-bg, $lightness: 15%);
$solid-bg-disabled: color.adjust($solid-bg, $lightness: 30%);
$solid-text: $white;

// solidMuted
$solidMuted-bg: color.adjust($solid-bg, $lightness: 85%);
$solidMuted-bg-hover: color.adjust($solidMuted-bg, $lightness: 2.5%);
$solidMuted-bg-disabled: color.adjust($solid-bg, $lightness: 10%);
$solidMuted-text: $text-base;

// solidDanger
$solidDanger-bg: $red;
$solidDanger-bg-hover: color.adjust($solidDanger-bg, $lightness: 10%);
$solidDanger-text: $solid-text;

// Outlined
$outlined-bg: $white;
$outlined-bg-hover: color.adjust($outlined-bg, $lightness: -5%);
$outlined-text: $text-base;
$outlined-border: $border-color;

// Outlined Muted
$outlinedMuted-bg: $outlined-bg;
$outlinedMuted-bg-hover: $outlined-bg-hover;
$outlinedMuted-text: $text-muted;
$outlinedMuted-border: color.adjust($outlined-border, $lightness: 20%);

// Outlined Danger
$outlinedDanger-bg: $white;
$outlinedDanger-bg-hover: color.adjust($red, $lightness: 35%);
$outlinedDanger-text: $red;
$outlinedDanger-border: $red;

// Ghost (no border)
$ghost-bg: transparent;
$ghost-bg-hover: color.adjust($text-base, $alpha: -0.975);
$ghost-text: $text-base;



