
@use '/src/style/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  text-rendering: optimizeLegibility;
}

html, body {
  font-size: 16px;
  background-color: variables.$page-bg;
  line-height: 1.25rem;
  font-weight: 300;
}

h1 {
  // letter-spacing: -0.025em;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h2 {
  // letter-spacing: -0.025em;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}

h3 {
  // letter-spacing: -0.025em;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
}

p {
  color: variables.$text-muted;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOutTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOutBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
