@use "/src/style/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: system-ui, sans-serif;
  text-rendering: optimizelegibility;

  &:focus {
    outline-width: 2px;
    outline-offset: -2px;
  }
}

html,
body {
  font-size: 16px;
  line-height: 1.25rem;
  background-color: variables.$page-bg;

  // letter-spacing: 0.025em;
}

h1 {
  font-size: 1.25rem;

  // letter-spacing: -0.025em;
  font-weight: 500;
  line-height: 1.5rem;
}

h2 {
  font-size: 1rem;

  // letter-spacing: -0.025em;
  font-weight: 500;
  line-height: 1.25rem;
}

h3 {
  // letter-spacing: -0.025em;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
}

p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: variables.$text-muted;
}

a {
  color: variables.$text-link;
}
