@use "/src/style/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Figtree, sans-serif;

  /* stylelint-disable-next-line @stylistic/max-line-length */
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  // text-rendering: optimizelegibility;

  // &:focus {
  //   outline-width: 2px;
  //   outline-offset: -2px;
  // }
  input:focus,
  button:focus,
  [role="option"]:focus {
    outline-width: 2px;
    outline-offset: -2px;
  }
}

html,
body {
  position: absolute;
  inset: 0;

  overflow: hidden;

  font-size: 16px;
  line-height: 1.5rem;

  background-color: variables.$page-bg;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

h3,
a,
p,
li {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: variables.$text-muted;
}

h3 {
  font-weight: 500;
}

a {
  font-weight: 400;
  color: variables.$text-link;
}

li {
  margin-left: 2rem;
}

@media (width >= 480px) {
  h1 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  h3,
  a,
  p,
  li {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
