@use '/src/style/animate';
@use '/src/style/variables';
@use '/src/style/mixins';
@use '/src/style/flex';

.CreateTournamentForm {
  @include flex.column(1rem);
  @include flex.stretchy;
}
.RegistrationGroup {
  @include mixins.border;
  @include mixins.surfaceShadow;
  @include animate.durationQuick;
  @include animate.stylePop;
  
  border-radius: variables.$corner-radius;

  height: calc(6rem + (2 * variables.$border-width));
  width: 100%;
  padding-right: 1rem;
}

.CompetitorGroupSizeInput {
  max-width: 5rem;
}

.CreateTournamentFormDateTimeStart,
.CreateTournamentFormDateTimeEnd {
  @include flex.stretchy;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr) );
}

.CreateTournamentFormCompetitorSizeInput {
  @include animate.stylePop;
  @include animate.durationQuick;
}

.CreateTournamentFormCompetitorsInputs {
  @include flex.stretchy;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}