@use "/src/style/variables";

.Root {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  &[data-orientation="horizontal"] {
    flex-direction: row;
    min-width: 100%;
    height: min-content;
  }

  &[data-orientation="vertical"] {
    flex-direction: column;
    width: min-content;
    min-height: 100%;
  }
}

.RootWithText {
  grid-template-columns: 1fr auto 1fr;
}

.Text {
  font-size: 0.75rem;
  color: variables.$text-disabled;
  text-transform: uppercase;
}

.Separator {
  flex-grow: 1;
  background-color: var(--border-color);

  &[data-orientation="horizontal"] {
    height: 1px;
    max-height: 1px;
  }

  &[data-orientation="vertical"] {
    width: 1px;
    max-width: 1px;
  }
}
