@use "/src/style/flex";

.Controls {
  @include flex.row;

  width: 100%;
  padding: 0 1rem 0.5rem;
}

.ScrollArea {
  @include flex.stretchy;

  min-height: 0;
}

.ItemList {
  @include flex.column($gap: 0.5rem);

  margin: 0 1rem 1rem;
}
