@use "/src/style/flex";

.TournamentDetailPage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;

  min-height: 0;
  max-height: 100%;

  &_PairingsFilter {
    @include flex.row;

    width: 100%;
    padding: 0 1rem;
  }

  &_PairingsScrollArea,
  &_MatchResultsScrollArea {
    @include flex.stretchy;

    min-height: 0;
  }

  &_PairingsItemList,
  &_MatchResultsItemList {
    margin: 1rem;

    @include flex.column($gap: 0.5rem);
    @include flex.stretchy;
  }
}

// 320px + 2 x 16px
// @media (width >= 352px) { }

// 2 x 320px + 3 x 16px
@media (width >= 688px) {
  .TournamentDetailPage {
    grid-template-rows: auto 24rem 32rem;

    &_OverviewCard {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    &_RegistrationsCard {
      grid-column: 1 / 3;
      grid-row: 2 / 4;
    }

    &_RankingsCard {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    &_PairingListCard {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    &_MatchResultListCard {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }
}

// 3 x 320px + 4 x 16px
@media (width >= 1024px) {
  .TournamentDetailPage {
    grid-template-rows: 18rem auto;

    &_OverviewCard {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    &_RegistrationsCard {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }

    &_RankingsCard {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }

    &_PairingListCard {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &_MatchResultListCard {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
}

// &_Banner {
//   position: relative;
//   height: 10rem;

//   // background-color: hsl(55, 45%, 25%);
//   background-color: hsl(220deg 20% 90%);

// }

// &Overlay{
//   background-image: url(/src/assets/banner.png);
//   background-position: center;
//   background-size: cover;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
