@use '/src/style/flex';

.TournamentDetailPage {
  &_OverviewSection {
    overflow: hidden;
  }

  &_Banner {
    position: relative;
    height: 10rem;

    // background-color: hsl(55, 45%, 25%);
    background-color: hsl(220deg 20% 90%);

    // &Overlay{
    //   background-image: url(/src/assets/banner.png);
    //   background-position: center;
    //   background-size: cover;
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    // }
  }

  &_Description {
    padding: 1rem;
  }

  &_Body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr) );
    grid-template-rows: min-content;
    gap: 1rem;

    @include flex.stretchy;
  }

  &_SubSectionsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr) );
    grid-template-rows: min-content;
    gap: 1rem;
  }

  &_PairingsScrollArea,
  &_MatchResultsScrollArea {
    @include flex.stretchy;
  }

  &_PairingsItemList,
  &_MatchResultsItemList {
    margin: 1rem;

    @include flex.column($gap: 0.5rem);
    @include flex.stretchy;
  }
}


// 320px + 2 x 16px
// @media (width >= 352px) { }

// 2 x 320px + 3 x 16px
@media (width >= 688px) {
  .TournamentDetailPage_PairingsSection,
  .TournamentDetailPage_MatchResultsSection {
    max-height: 32rem;

    .Card_Body {
      display: flex;
      flex-direction: column;
    }
  }

  .TournamentDetailPage_OverviewWrapper {
    grid-column: 1 / 3;
  }

  .TournamentDetailPage_SubSectionsWrapper {
    grid-column: 1 / 3;
  }

  .TournamentDetailPage_RegistrationsSection {
    grid-column: 1 / 3;
  }

  .TournamentDetailPage_RankingsSection {
    grid-column: 1 / 3;
    max-height: 20rem;
  }

  .TournamentDetailPage_PairingsSection {
    grid-column: 1 / 2;
  }

  .TournamentDetailPage_MatchResultsSection {
    grid-column: 2 / 3;
  }
}

// 3 x 320px + 4 x 16px
@media (width >= 1024px) {
  .TournamentDetailPage_OverviewWrapper {
    grid-column: 1 / 2;
  }

  .TournamentDetailPage_SubSectionsWrapper {
    grid-column: 2 / 4;
  }

  .TournamentDetailPage_RegistrationsSection {
    grid-column: 1 / 3;
  }

  .TournamentDetailPage_RankingsSection {
    grid-column: 1 / 3;
  }

  .TournamentDetailPage_PairingsSection {
    grid-column: 1 / 2;
  }

  .TournamentDetailPage_MatchResultsSection {
    grid-column: 2 / 3;
  }
}

