@use "/src/style/flex";
@use "/src/style/borders";
@use "/src/style/corners";
@use "/src/style/text";
@use "/src/style/variables";

.Root {
  @include corners.wide;

  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: white;
}

.TimerSection {
  @include flex.stretchy;
  @include flex.column($gap: 0, $xAlign: center);

  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 0.5rem;

  color: white;

  background-image: linear-gradient(135deg, #0b1120 0%, #1e3a8a 100%);
  background-position: 0 0;
  background-size: 100% 100%;
}

.TimeRemainingSection {
  @include flex.row($gap: 0.25rem);
}

.EndsAt {
  @include flex.row($gap: 0.25rem);

  svg {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.Toolbar {
  @include flex.row($gap: 0);

  height: 2.5rem;
  padding: 0.25rem;
}

.Controls {
  @include flex.row($gap: 0.5rem);
}

.MatchResultsMonitor {
  @include flex.stretchy;
  @include text.ui;

  padding: 0.5rem 1rem;
  font-size: var(--font-size-small);
  text-align: right;
}

.RoundNumber {
  color: yellow;
}

.TimeRemaining {
  @include flex.row($gap: 0);

  font-size: 1.75rem;
  line-height: 2rem;
}

.TimeRemainingDigit {
  display: block;
  width: 1.125rem;
  text-align: center;
}

.TimeRemainingSeparator {
  display: block;
  width: 0.75rem;
  text-align: center;
}
