@use "/src/style/flex";

.TournamentDetailPage {
  @include flex.column;
  @include flex.stretchy;

  min-height: 0;
  max-height: 100%;

  &_SecondarySection {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8rem;
    flex-shrink: 0;
    gap: 1rem;

    min-height: 0;

    .TournamentDetailPage_OverviewCard {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
  }

  &_PrimarySection {
    @include flex.stretchy;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2.5rem 1fr;
    gap: 1rem;

    min-height: 0;
  }

  &_Toolbar {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &_PairingsFilter {
    @include flex.row;

    width: 100%;
    padding: 0 1rem 0.5rem;
  }

  &_PairingsScrollArea {
    @include flex.stretchy;

    min-height: 0;
  }

  &_PairingsItemList {
    margin: 1rem;
    margin-top: 0;

    @include flex.stretchy;
  }

  &_LiveMatchResults {
    @include flex.column;

    position: relative;
    overflow: hidden;

    .LiveMatchResultItemList {
      @include flex.column(0.5rem);
      @include flex.stretchy;

      overflow: hidden;

      mask-image: linear-gradient(to bottom, rgb(0 0 0 / 100%) 70%, rgb(0 0 0 / 0%) 100%);
    }
  }

  &_LiveMatchResultsViewMoreButton {
    position: absolute;
    right: 3rem;
    bottom: 2rem;
    left: 3rem;
  }
}

// 3 x 320px + 4 x 16px
@media (width >= 1024px) {
  .TournamentDetailPage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: 100%;
    gap: 1rem;

    &_SecondarySection {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &_PrimarySection {
      grid-column: 2/4;
      grid-row: 1/2;
    }
  }
}
