@use '/src/style/mixins';
@use '/src/style/animate';
@use '/src/style/variables';

$switch-height: 1.5rem;
$switch-width: 2.5rem;
$thumb-inset: 2px;
$thumb-size: calc($switch-height - (2 * $thumb-inset));
$thumb-offset: calc($switch-width - ($thumb-inset + $thumb-size));

.Switch {
  all: unset;
  width: $switch-width;
  height: $switch-height;
  background-color: variables.$solid-muted-bg;
  border-radius: calc($switch-height / 2);
  position: relative;
  transition: background-color 100ms;
  // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // &:focus {
  //   box-shadow: 0 0 0 2px blue;
  // }
  &[data-state='checked'] {
    background-color: variables.$text-base;
  }

}

.SwitchThumb {
  @include mixins.surfaceShadow;
  pointer-events: none;
  display: block;
  width: $thumb-size;
  height: $thumb-size;
  background-color: variables.$white;
  border-radius: 100%;
  transition: transform  100ms;
  transform: translateX($thumb-inset);
  &[data-state='checked'] {
    transform: translateX($thumb-offset);
  }
}

