@use "/src/style/animate";
@use "/src/style/variables";
@use "/src/style/shadows";
@use "/src/style/variants";

$switch-height: 1.5rem;
$switch-width: 2.5rem;
$thumb-inset: 2px;
$thumb-size: calc($switch-height - (2 * $thumb-inset));
$thumb-offset: calc($switch-width - ($thumb-inset + $thumb-size));

.Switch {
  @include variants.secondary;

  position: relative;

  width: $switch-width;
  height: $switch-height;

  border-radius: calc($switch-height / 2);

  transition-property: background-color;

  // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // &:focus {
  //   box-shadow: 0 0 0 2px blue;
  // }
  &[data-state="checked"] {
    @include variants.primary;
  }

  &-disabled {
    opacity: 0.4; // TODO: THIS IS SUPER HACKY
  }

  &_Thumb {
    @include shadows.surface-shadow;

    pointer-events: none;

    transform: translateX($thumb-inset);

    display: block;

    width: $thumb-size;
    height: $thumb-size;

    background-color: variables.$white;
    border-radius: 100%;

    transition: transform  100ms;

    &[data-state="checked"] {
      transform: translateX($thumb-offset);
    }
  }
}
