@use '/src/style/flex';
@use '/src/style/utils';
@use '/src/style/variables';

.AuthProvider {
  &--loading {
    @include flex.centered;
    @include utils.modalOverlay;
  }
  &__LoadingIcon {
    animation: spin 1s infinite linear;
    color: variables.$text-base;
    height: 4rem;
    opacity: 0.2;
    width: 4rem;
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}