@use '/src/style/variables';

.AuthProvider--loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AuthProvider__LoadingIcon {
  top: 2px;
  animation: spin 1s infinite linear;
  width: 4rem;
  height: 4rem;
  color: variables.$text-base;
  opacity: 0.2;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}