@use "/src/style/corners";
@use "/src/style/text";
@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/borders";

.Tag {
  @include corners.tight;
  @include text.ui;
  @include flex.row($gap: 0.25rem);

  width: min-content;
  height: 1.5rem;
  margin: -2px 0;
  padding: 0 5px;

  color: var(--secondary-default-text);
  text-wrap: nowrap;

  background-color: var(--secondary-default-bg);

  svg {
    width: 1rem;
    height: 1rem;
  }
}
