@use "/src/style/backgrounds";
@use "/src/style/borders";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/shadows";
@use "/src/style/sizes";
@use "/src/style/text";
@use "/src/style/variables";

.TournamentDetailCard {
  @include flex.column($gap: 2rem);

  overflow: hidden;

  &_Header {
    @include flex.row($gap: 0.5rem, $yAlign: center);
    @include sizes.normal;

    position: relative;
    box-sizing: content-box; // Make the height apply to the inside, without padding
    padding: 1rem var(--container-padding-x) 0;

    &_Actions {
      @include flex.row($gap: 0.5rem, $xAlign: center);

      margin-left: auto;
    }

    h2 {
      @include flex.row($yAlign: center);
    }
  }
}
