@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/animate";
@use "/src/style/variables";
@use "/src/style/corners";
@use "/src/style/borders";
@use "/src/style/text";

.MatchResultCard {
  @include flex.column($gap: 0);
  @include variants.outlined($hover: false);
  @include shadows.surface-shadow;
  @include corners.normal;

  position: relative;
  overflow: hidden;
}

.Socials {
  padding: 0.75rem var(--container-padding-x);
}

.Footer {
  @include text.small($muted: true);
  @include flex.row($gap: 0.5rem, $xAlign: right);

  padding: 0.5rem;
  padding-left: var(--container-padding-x);

  .Timestamp {
    margin-right: auto;
  }
}
