@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/borders";
@use "/src/style/text";

.MatchResultCard {
  flex-shrink: 0;

  &_MainSection {
    display: grid;
    grid-template-columns: 1fr 4rem 1fr;
    grid-template-rows: 1rem 2rem 1fr;
    gap: 0.25rem;

    padding: 1rem;
  }

  &_Player0Profile {
    @include flex.row($xAlign: right);

    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  &_Player1Profile {
    @include flex.row($xAlign: left);

    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }

  &_Score {
    @include flex.centered($gap: 0.25rem);

    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  &_Turns {
    @include flex.column($xAlign: center);
    @include text.ui($muted: true);

    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  &_ScorePlayer0,
  &_ScorePlayer1 {
    height: 2rem;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2rem;
  }

  &_ScoreSeparator {
    font-size: 1.25rem;
  }

  &_BottomSection {
    @include borders.normal($side: top);
    @include text.ui($bold: true, $muted: true);

    @include flex.row($gap: 0);

    font-size: 0.75rem;
  }

  &_OutcomeSection,
  &_MissionSection {
    width: calc((100% - variables.$border-width) / 2);
    padding: 0.5rem;

    svg {
      width: 1rem;
      height: 1rem;
    }

    @include flex.centered($gap: 0.5rem);
  }

  &_MissionSection {
    @include borders.normal($side: right);
  }

  &_StanceBadge {
    @include flex.centered;
    @include borders.normal;

    width: 1.5rem;
    height: 1.5rem;

    color: variables.$text-muted;

    background-color: white;
    border-radius: 100%;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
