@use "/src/style/animate";
@use "/src/style/borders";
@use "/src/style/flex";
@use "/src/style/shadows";
@use "/src/style/variables";
@use "/src/style/variants";

.TournamentsPage {
  &_Content {
    @include flex.column($gap: 1rem);
  }

  &_FilterBar {
    @include flex.row;

    margin-bottom: 1rem;
  }

  &_Filters {
    @include flex.column($gap: 0);

    &_Filter {
      @include flex.column;
      @include borders.normal($side: bottom);

      padding: var(--container-padding-y) var(--container-padding-x);
    }
  }
}
