@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/animate";
@use "/src/style/variables";

.Filters {
  @include flex.row;

  margin-bottom: 1rem;
}

.FilterPopover {
  @include variants.card($elevated: true);
  @include animate.duration-quick;
  @include animate.style-pop;

  margin: 0.25rem 0;
  padding: 1rem;
}

.TournamentsPage {
  &_Content {
    @include flex.column($gap: 4rem);
  }

  &_Section {
    @include flex.column;
  }
}
