@use "/src/style/variables";
@use "/src/style/animate";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/text";

.PopoverContent {
  @include flex.column($gap: 0.25rem);
  @include animate.duration-quick;
  @include corners.normal;
  @include shadows.shadow;
  @include variants.card;

  z-index: 1;
  margin: 0.25rem 0;
  padding: 0.25rem;
  background-color: variables.$card-bg;

  @include animate.style-pop; // Must list last because it contains nested declarations
}

.MenuItemButton {
  text-align: left; // TODO: Make this override button's center text
}
