@use "/src/style/variables";
@use "/src/style/animate";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/sizes";

.PopoverContent {
  @include flex.column($gap: 0.25rem);
  @include animate.duration-quick;
  @include variants.card($elevated: true);

  z-index: 1;
  margin: 0.25rem 0;
  padding: 0.25rem;
  background-color: var(--card-bg);

  @include animate.style-pop; // Must list last because it contains nested declarations
}

.MenuItem {
  @include variants.ghost;
  @include corners.tight;
  @include flex.row($gap: 0.125rem);
  @include sizes.normal;
  @include text.ui;

  padding: 0 0.75rem;
}
