
@use '/src/style/variables';
@use '/src/style/animate';
@use '/src/style/variants';
@use '/src/style/shadows';

.InputDateTrigger {
  text-align: left;
}

.InputDatePopoverContent {
  @include variants.outlined($hover: false);
  @include shadows.shadow;
  @include animate.durationQuick;
  @include animate.stylePop;
  & {
    background-color: variables.$card-bg;
    padding: 1rem;
    border-radius: variables.$corner-radius;
    margin: 0.25rem 0;
  }
}