@use '/src/style/mixins';
@use '/src/style/variables' as *;
@use '/src/style/animate';

.InputDateTrigger {
  text-align: left;
}

.InputDatePopoverContent {
  @include mixins.border;
  @include mixins.shadow;
  @include animate.durationQuick;
  @include animate.stylePop;

  & {
    background-color: $card-bg;
    padding: 1rem;
    border-radius: $corner-radius;
    box-sizing: border-box;
    margin: 0.25rem 0;
  }
}