
@use '/src/style/variables';
@use '/src/style/animate';
@use '/src/style/variants';
@use '/src/style/shadows';

.InputDateTrigger {
  text-align: left;
}

.InputDatePopoverContent {
  @include variants.outlined($hover: false);
  @include shadows.shadow;
  @include animate.duration-quick;
  @include animate.style-pop;

  & {
    margin: 0.25rem 0;
    padding: 1rem;
    background-color: variables.$card-bg;
    border-radius: variables.$corner-radius;
  }
}