@use "/src/style/variables";
@use "/src/style/flex";

@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/plum-dark.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray.css";

.AlignmentIndicator {
  @include flex.row($gap: 0);

  @mixin item {
    flex: 0;

    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;

    border-radius: 100%;

    &:not(:first-child) {
      margin-left: -0.75rem;
    }
  }

  &_Alignment {
    @include item;

    background-color: var(--plum-9);
    border-color: var(--plum-11);
    border-style: solid;
    border-width: var(--border-width);

    &[data-color="red"] {
      background-color: var(--tomato-9);
      border-color: var(--tomato-11);
    }

    &[data-color="blue"] {
      background-color: var(--blue-9);
      border-color: var(--blue-11);
    }
  }

  &_Faction {
    @include item;

    background-color: #eee;
    border-color: var(--gray-a4);
    border-style: solid;
    border-width: var(--border-width);
  }
}

.FactionIndicator {
  --red: var(--tomato-9);
  --blue: var(--blue-9);
  --background: linear-gradient(90deg, var(--blue) 50%, var(--red) 50%);

  position: relative;

  flex: 0 0 auto;
  align-self: center;

  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;

  &[data-color="red"] {
    --background: var(--red);
  }

  &[data-color="blue"] {
    --background: var(--blue);
  }

  &_Ring {
    position: absolute;
    inset: -0.25rem;

    opacity: 0.25;
    background: var(--background);
    border-radius: 50%;
  }

  &_Center {
    position: absolute;
    inset: 0;
    background: var(--background);
    border-radius: 50%;

    // outline: var(--border-width) solid var(--border-color-default);
    // outline-offset: calc(-1 * var(--border-width));
  }
}
