@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/variables";
@use "/src/style/corners";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/borders";

.TournamentPairingDetailPage {
  @include flex.column;

  &_Details {
    @include variants.card;
    @include flex.column;

    padding: var(--container-padding-x);
  }

  &_MatchResults {
    @include flex.column;
  }
}
