@use "/src/style/text";
@use "/src/style/flex";

.FowV4MatchResultDetails {
  --columns: 8rem 1fr;

  &[data-orientation="horizontal"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  &[data-orientation="vertical"] {
    @include flex.column;
  }

  &_Column {
    @include flex.column;
  }

  &_Section {
    @include flex.column($gap: 0.5rem);
  }

  &_Label {
    @include text.ui($muted: true);

    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_DoubleLabel {
    @include text.ui($muted: true);

    overflow: hidden;
    display: inline-block;
    grid-column: 1/-1;

    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_Value {
    @include text.ui;

    display: inline-block;
  }

  &_Row {
    display: grid;
    grid-template-columns: var(--columns);
    gap: 1rem;
  }

  &_DoubleRow {
    display: grid;
    grid-template-columns: var(--columns);
    row-gap: 0.125rem;
    column-gap: 1rem;

    .FowV4MatchResultDetails_Label {
      padding-left: 1rem;
    }
  }
}
