@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/text";

.TournamentCompetitorCard {
  --column-gap: 0.5rem;

  @include flex.row($gap: var(--column-gap));

  padding: calc(1rem - variables.$border-width);

  &[data-is-team="true"] {
    display: grid;
    grid-template-areas: "teamAvatar teamName" ". separator" ". teamPlayers";
    grid-template-columns: auto 1fr;
    grid-template-rows: 2rem variables.$border-width 1fr;
    row-gap: 1rem;
    column-gap: var(--column-gap);
  }

  &_Avatar {
    grid-area: teamAvatar;
    width: 2rem;
    height: 2rem;
  }

  &_TeamName {
    @include flex.row;

    grid-area: teamName;
  }

  &_Separator {
    grid-area: separator;
  }

  &_JoinButton {
    margin-left: auto;
  }

  &_TeamPlayers {
    display: grid;
    grid-area: teamPlayers;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;

    &_Player {
      @include flex.row($gap: 0.5rem);
      @include text.ui;
    }
  }
}
