@use "/src/style/flex";
@use "/src/style/borders";
@use "/src/style/text";
@use "/src/style/variables";

@mixin row {
  display: grid;
  gap: 1rem;
  min-height: calc(2.5rem + var(--border-width));
  background-color: var(--card-bg);
}

@mixin row-text {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Table {
  @include flex.column($gap: 0);

  min-height: 0;

  &_ScrollArea {
    position: relative;
    overflow: hidden; // Radix handles scroll
  }

  &_Inner {
    @include flex.column($gap: 0);

    max-width: 100%;
  }

  &_HeaderRow {
    @include borders.normal($side: bottom);
    @include row;

    h3 {
      @include row-text;
    }
  }

  &_Row {
    @include borders.muted($side: bottom);
    @include row;

    &:last-child {
      border: none;
    }
  }

  &_Cell {
    @include text.ui;

    overflow: hidden;
    display: flex;
    align-items: center;
    min-width: 2.5rem;

    &[data-align="left"] {
      justify-content: start;
    }

    &[data-align="center"] {
      justify-content: center;
    }

    &[data-align="right"] {
      justify-content: end;
    }

    &_Text {
      @include row-text;
    }
  }
}
