@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/borders";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/text";
@use "/src/style/variants";

.TournamentPairingsPage {
  @include flex.column;

  &_Config {
    @include flex.column($gap: 1.5rem);
    @include variants.card;

    grid-area: config;
    padding: var(--container-padding-y) var(--container-padding-x);

    &_Submit {
      align-self: flex-end;
    }
  }

  &_Pairings {
    @include flex.column($gap: 1.5rem);
    @include variants.card;

    grid-area: pairings;
    padding: var(--container-padding-y) var(--container-padding-x);

    &_Grid {
      display: grid;
      grid-template-areas:
        ". tableHeader competitorsHeader"
        "alerts tableInputs competitorsGrid";
      grid-template-columns: auto 6rem  1fr;
      grid-template-rows: auto auto;
      flex-grow: 1;
      gap: 1rem;
    }

    &_Alerts {
      display: grid;
      grid-area: alerts;
      gap: 0.5rem;
      place-items: center;
      justify-content: center;

      width: 1.5rem;
    }

    &_TableHeader {
      grid-area: tableHeader;
    }

    &_CompetitorsHeader {
      grid-area: competitorsHeader;
    }

    &_CompetitorsGrid {
      grid-area: competitorsGrid;
    }

    &_CompetitorCard {
      display: grid;
      grid-template-areas: "rank identity faction";
      grid-template-columns: 1.25rem 1fr 2.5rem;
      grid-template-rows: auto;
      gap: 0.75rem;
      align-items: center;

      width: 100%;
      height: 100%;
      padding: 0.5rem;

      &_Identity {
        grid-area: identity;
      }

      &_Rank {
        grid-area: rank;
        align-self: center;
        justify-self: center;
        text-align: center;
      }
    }

    &_TableInputs {
      display: grid;
      grid-area: tableInputs;
      gap: 0.5rem;
    }

    &_TableInput {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 100%;
      }
    }
  }
}

// 3 x 320px + 4 x 16px
@media (width >= 1024px) {
  .TournamentPairingsPage {
    display: grid;
    grid-template-areas: "config pairings pairings";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: start;
  }
}

.DetailsScrollArea {
  @include flex.stretchy;
}

.ConfirmPairingsDialog {
  padding-bottom: var(--container-padding-y);

  &_Content {
    margin: 0 var(--container-padding-x);
  }

  &_Filters {
    @include flex.row;
  }

  &_EmptyState {
    @include flex.stretchy;
    @include flex.centered;
    @include text.ui($muted: true);

    padding-bottom: 4rem;
  }

  &_FirstColumn {
    padding-left: var(--container-padding-x);
  }

  &_LastColumn {
    padding-right: var(--container-padding-x);
  }

  &_Table {
    --cell-padding-y: 1rem;
    --table-padding: var(--container-padding-x);
  }

  &_TableNumber {
    @include text.ui;

    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75rem;
  }

  &_MatchIndicatorIcon {
    width: 1.25rem;
    height: 1.25rem;
    stroke: currentcolor;
  }

  &_MatchIndicatorInner {
    @include text.ui;
  }
}
