@use '/src/style/mixins';
@use '/src/style/variables';
@use '/src/style/flex';

.TabsList {
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  background-color: variables.$solid-muted-bg;
  border-radius: variables.$corner-radius;
  height: 2.5rem;

  &-min {
    width: min-content;
  }
  &-max {
    width: 100%;
  }
}

.TabsTrigger {
  @include mixins.buttonBasis;
  @include mixins.solid-muted;
  @include flex.stretchy;
  
  & {
    border-radius: 0.25rem;
    font-weight: 500;
    padding: 1rem;
  }

  &[data-state='active'] {
    background-color: variables.$white;
    @include mixins.surfaceShadow;
  }
  &[data-state='inactive'] {
    &:hover {
      background-color: variables.$solid-muted-bg-hover;
    }
  }
}