@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/text";
@use "/src/style/sizes";

.TabsTrigger {
  @include corners.tight;
  @include flex.row($gap: 0.25rem, $xAlign: center);
  @include flex.stretchy;
  @include text.ui;
  @include variants.secondary;

  height: 100%;
  min-height: 2rem;
  padding: 0 0.75rem;
  white-space: nowrap;

  &[data-state="active"] {
    @include shadows.surface;

    background-color: var(--card-bg);

    &:hover {
      background-color: var(--card-bg);
    }
  }

  &[data-state="inactive"] {
    &:hover {
      background-color: var(--secondary-default-bg-hover);
    }
  }

  &[data-size="small"] {
    @include sizes.small;
  }

  &[data-size="normal"] {
    @include sizes.normal;
  }

  &[data-size="large"] {
    @include sizes.large;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }
}
