@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/sizes";
@use "/src/style/variables";

.TabsList {
  @include corners.normal;

  display: grid;
  gap: 0.25rem;
  padding: 0.25rem;
  background-color: var(--secondary-default-bg);

  &[data-width="min"] {
    width: min-content;
  }

  &[data-width="max"] {
    width: 100%;
  }
}
