@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/sizes";
@use "/src/style/variables";

.Root {
  @include corners.normal;

  // flex-shrink: 0;
  min-width: min-content;
  padding: 0.25rem;
  background-color: var(--secondary-default-bg);

  &-min {
    width: min-content;
  }

  &-max {
    width: 100%;
  }

  &-vertical {
    @include flex.column($gap: 0.25rem);
  }

  &-horizontal {
    @include flex.row($gap: 0.25rem);
    @include sizes.normal;
  }
}
