@use '/src/style/corners';
@use '/src/style/flex';
@use '/src/style/sizes';
@use '/src/style/variables';

.TabsList {
  @include corners.normal;
  @include flex.row($gap: 0.25rem);
  @include sizes.normal;

  padding: 0.25rem;
  background-color: variables.$solid-muted-bg;

  &-min {
    width: min-content;
  }

  &-max {
    width: 100%;
  }
}