@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/text";

.TabsTrigger {
  @include corners.tight;
  @include flex.row($gap: 0.5rem);
  @include flex.stretchy;
  @include text.ui;
  @include variants.secondary;

  flex-grow: 0;

  height: 100%;
  min-height: 2rem;
  padding: 0 0.75rem;

  white-space: nowrap;

  &[data-state="active"] {
    @include shadows.surface;

    background-color: var(--card-bg);

    &:hover {
      background-color: var(--card-bg);
    }
  }

  &[data-state="inactive"] {
    &:hover {
      background-color: var(--secondary-default-bg-hover);
    }
  }

  svg {
    width: 1rem;
    height: 1rem;
  }
}
