@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/sizes";
@use "/src/style/variables";

.Root {
  @include corners.normal;
  @include flex.row($gap: 0.25rem);
  @include sizes.normal;

  flex-shrink: 0;
  padding: 0.25rem;
  background-color: variables.$solid-muted-bg;

  &-min {
    width: min-content;
  }

  &-max {
    width: 100%;
  }
}
