@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/variants";
@use "/src/style/shadows";
@use "/src/style/text";

.TabsTrigger {
  @include corners.tight;
  @include flex.centered;
  @include flex.stretchy;
  @include text.ui;
  @include variants.solid-muted;

  flex-grow: 0;
  height: 100%;
  padding: 0 1rem;
  font-weight: 500;

  &[data-state="active"] {
    @include shadows.surface-shadow;

    background-color: variables.$white;
  }

  &[data-state="inactive"] {
    &:hover {
      background-color: variables.$solid-muted-bg-hover;
    }
  }
}
