@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/variants";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/text";

.PairingsGridRow {
  --indicator-size: 1.5rem;

  display: grid;
  grid-template-columns: 1fr var(--indicator-size) 1fr;
  flex-grow: 0;
  gap: 0.5rem;

  &_Droppable {
    height: 4.5rem;
  }

  &_Indicator {
    grid-column: 2/3;
    grid-row: 1/2;
    place-self: center center;

    &[data-valid="true"] {
      color: var(--text-color-success);
    }

    &[data-valid="false"] {
      color: var(--text-color-negative);
    }

    div {
      @include flex.centered;

      width: var(--indicator-size);
      height: var(--indicator-size);
    }

    svg {
      width: var(--indicator-size);
    }
  }
}
