@use '/src/style/sizes';
@use '/src/style/variables';
@use '/src/style/variants';
@use '/src/style/corners';
@use '/src/style/flex';
@use '/src/style/animate';

.Checkbox {
  @include variants.reset;
  @include flex.centered;
  @include variants.solid-muted;

  &[data-state='checked'] {
    @include variants.solid;
  }

  & {
    position: relative;
  }

  // Size
  &-size-tiny {
    @include sizes.tiny($square: true);
    @include corners.tight;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &-size-small {
    @include sizes.small;
    @include corners.normal;
  }

  &-size-normal {
    @include sizes.normal;
    @include corners.normal;
  }

  &-size-large {
    @include sizes.large;
    @include corners.normal;
  }




  &_Indicator {
    margin-top: 3px; // Looks better
    color: variables.$solid-text;
  }
}