@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/borders";
@use "/src/style/corners";
@use "/src/style/shadows";

.Draggable {
  touch-action: manipulation;
  transform-origin: 0 0;
  display: flex;
  box-sizing: border-box;

  &[data-overlay="true"] {
    --scale: 1.05;

    z-index: 999;
  }
}

.Inner {
  @include flex.row;
  @include corners.normal;
  @include borders.normal;
  @include shadows.surface;

  touch-action: manipulation;
  cursor: grab;

  overflow: hidden;

  min-width: 0;
  max-width: 100%;
  height: 3.5rem;
  padding: calc(0.5rem - var(--border-width));

  background-color: var(--card-bg);
  outline: none;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);

  transition: box-shadow 200ms cubic-bezier(0.18, 0.67, 0.6, 1.22), transform 200ms cubic-bezier(0.18, 0.67, 0.6, 1.22);

  -webkit-tap-highlight-color: transparent;

  &[data-dragging="true"],
  &[data-dropping="true"] {
    opacity: 0;
    pointer-events: none;
  }

  &[data-overlay="true"] {
    @include shadows.elevated;

    cursor: grabbing;
    transform: scale(1.05);
    animation: lift 200ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
  }

  &:active {
    cursor: grabbing;
  }
}

@keyframes lift {
  0% {
    transform: scale(1);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  }

  100% {
    transform: scale(1.05);

    @include shadows.elevated;
  }
}
