@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/variants";
@use "/src/style/borders";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/text";

.TournamentRoster {
  &_Header {
    display: grid;
    grid-template-areas: "Identity PlayerCount Actions";
    grid-template-columns: 1fr auto auto;
    grid-template-rows: 2.5rem;
    gap: 1rem;

    width: 100%;
  }

  &_Identity {
    grid-area: Identity;
  }

  &_PlayerCount {
    grid-area: PlayerCount;
  }

  &_Actions {
    grid-area: Actions;
  }

  &_Content {
    @include flex.column;

    padding: 1rem calc(1rem - var(--border-width));
    padding-left: calc(3.75rem - var(--border-width));
  }

  &_RegistrationRow {
    @include flex.row;
  }

  &_RegistrationSwitch {
    @include flex.row;

    margin-left: auto;
  }
}
