@use '/src/style/variables';
@use '/src/style/animate';

.PageWrapper {
  // @include animate.durationQuick;
  // @include animate.stylePop;

  & {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    width: 100vw;
    background-color: transparent;
  }
  &--HasAppBar {
    top: variables.$app-bar-height;
    height: calc(100dvh - variables.$app-bar-height);
  }
}

.PageWrapper__Header {
  margin: 1rem;
  height: 2.5rem;
}

.PageWrapper__Body {
  margin: 1rem;
}