@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/backgrounds";

$header-height: 2.5rem;

.PageWrapper {
  @include flex.column($gap: 0);

  flex-grow: 1;
  min-height: 0;

  &_Banner {
    @include flex.column;
    @include backgrounds.topography;

    position: relative;
    z-index: 1;        // bring above other content

    overflow: visible;

    max-width: 100vw;
    margin-top: calc(-2 * var(--app-bar-height));
    padding-top: calc(2 * var(--app-bar-height));
  }

  &_BannerContent {
    @include flex.row;

    z-index: 1;

    overflow: hidden;
    flex: 1;

    width: 100%;
    margin: 0 auto;
    padding: 1.5rem var(--modal-outer-gutter);

    color: var(--primary-default-text);
  }

  &_ScrollArea {
    position: relative;
    z-index: 0;

    flex: 1 auto;

    max-width: 100vw;
    min-height: 0;

    background-color: transparent;
  }

  &_Content {
    @include flex.column;

    height: inherit;
    margin: 0 auto;
    padding: 1rem var(--modal-outer-gutter);
  }

  &_Header {
    @include flex.row;

    height: $header-height;
  }

  &_Body {
    @include flex.stretchy;
    @include flex.column;
  }

  &[data-fitted="true"] {
    .PageWrapper_Content {
      position: absolute;
      inset: 0;
    }

    .PageWrapper_Body {
      overflow: hidden;
    }
  }
}

.AppBarPadding {
  padding-top: var(--app-bar-height);
}
