@use '/src/style/variables';
@use '/src/style/animate';

.PageWrapper {
  // @include animate.duration-quick;
  // @include animate.style-pop;

  & {
    position: absolute;

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: transparent;
  }

  &-HasAppBar {
    top: variables.$app-bar-height;
    height: calc(100dvh - variables.$app-bar-height);
  }
}

.PageWrapper_Header {
  height: 2.5rem;
  margin: 1rem;
}

.PageWrapper_Body {
  margin: 1rem;
}