@use '/src/style/variables';
@use '/src/style/animate';
@use '/src/style/flex';

.PageWrapper {
  max-width: 100vw;
  max-height: 100dvh;
  background-color: transparent;

  &-hasAppBar {
    top: variables.$app-bar-height;
    height: calc(100dvh - variables.$app-bar-height);
  }

  &_Content {
    @include flex.column;

    max-width: min(100vw, 1280px);
    min-height: calc(100dvh - variables.$app-bar-height);
    margin: 0 auto;
    padding: 1rem;
  }

  &_Header {
    @include flex.row;

    height: 2.5rem;
  }

  &_Body {
    @include flex.stretchy;
    @include flex.column;

    &-fitToWindow {
      overflow: hidden;
      max-height: calc(100dvh - (variables.$app-bar-height + (3rem + 2.5rem)));
    }
  }
}

