@use "/src/style/variables";
@use "/src/style/animate";
@use "/src/style/flex";

$header-height: 2.5rem;

.PageWrapper {
  max-width: 100vw;
  max-height: 100vh;
  margin-bottom: calc(100vh - 100dvh);
  background-color: transparent;

  &-hasAppBar {
    top: variables.$app-bar-height;
    height: calc(100vh - variables.$app-bar-height);
  }

  &_Content {
    @include flex.column;

    max-width: min(100vw, 1280px);

    // min-height: calc(100vh - variables.$app-bar-height);
    margin: 0 auto;
    padding: 1rem var(--modal-outer-gutter);
  }

  &_Header {
    @include flex.row;

    height: $header-height;
  }

  &_Body {
    @include flex.stretchy;
    @include flex.column;

    &-fitToWindow {
      height: calc(100vh - (variables.$app-bar-height + $header-height + 3rem));
    }
  }
}

// TODO: Maybe...
// 320px + 2 x 16px
// @media (width < 687px) {
//   .PageWrapper {
//     &_Content {
//       padding: 1rem 0.5rem;
//     }
//   }
// }
