@use "/src/style/flex";
@use "/src/style/variables";
@use "/src/style/borders";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/text";

.ConfirmPairingsDialog {
  &_Content {
    @include flex.column;
  }
}
