@use '/src/style/variables';

$scrollbar-size: 1rem;
$scrollbar-padding: 0.25rem;

.ScrollAreaRoot {
  overflow: hidden;
  background-color: white;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  flex: 1 auto;
}

.ScrollAreaScrollbar {
  z-index: 1000;
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: $scrollbar-padding;
  animation-duration: 150ms;
  border-radius: 0.25rem;
  &[data-state='visible'] {
    animation-name: fadeIn;
  }
  &[data-state='hidden'] {
    animation-name: fadeOut;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
.ScrollAreaScrollbar:hover {
  background-color: variables.$ghost-bg-hover;
}
.ScrollAreaScrollbar[data-orientation='vertical'] {
  width: $scrollbar-size;
}
.ScrollAreaScrollbar[data-orientation='horizontal'] {
  flex-direction: column;
  height: $scrollbar-size;
}

.ScrollAreaThumb {
  flex: 1;
  background: variables.$text-base;
  opacity: 0.25;
  border-radius: calc(($scrollbar-size - (2 * $scrollbar-padding)) / 2);
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 2.5rem;
  min-height: 2.5rem;
}

