@use 'sass:color';
@use '/src/style/variables';
@use '/src/style/flex';

$scrollbar-size: 1rem;
$scrollbar-padding: 0.25rem;
$indicator-gradient-start-color: color.adjust(variables.$border-color, $alpha: -0.05);
$indicator-gradient-end-color: rgb(0 0 0 / 0%);

.ScrollArea {
  &_Root {
    overflow: hidden;
    display: flex;
  }

  &_Viewport {
    border-radius: inherit;

    @include flex.stretchy;
  }

  &_Indicator {
    &Top, &Bottom, &Left, &Right {
      pointer-events: none;
      position: absolute;
      opacity: 0;
      transition: opacity 500ms ease-in-out;

      &-visible {
        opacity: 1;
      }
    }

    &Top, &Bottom {
      width: 100%;
      height: 0.75rem;
    }

    &Left, &Right {
      width: 0.75rem;
      height: 100%;
    }

    &Top {
      top: 0;
      background-image: linear-gradient($indicator-gradient-start-color, $indicator-gradient-end-color);

      &-addBorder {
        border-top: variables.$border-width solid variables.$border-color;
      }
    }

    &Bottom {
      bottom: 0;
      background-image: linear-gradient($indicator-gradient-end-color, $indicator-gradient-start-color);

      &-addBorder {
        border-bottom: variables.$border-width solid variables.$border-color;
      }
    }
  }

  &_Scrollbar {
    /* disable browser handling of all panning and zooming gestures on touch devices */
    touch-action: none;

    /* ensures no selection */
    user-select: none;

    z-index: 1000;

    display: flex;

    padding: $scrollbar-padding;

    border-radius: 0.25rem;

    animation-duration: 150ms;

    &[data-orientation='vertical'] {
      width: $scrollbar-size;
    }

    &[data-orientation='horizontal'] {
      flex-direction: column;
      height: $scrollbar-size;
    }

    &[data-state='visible'] {
      animation-name: fade-in;
    }

    &[data-state='hidden'] {
      animation-name: fade-out;
    }

    &:hover {
      background-color: variables.$ghost-bg-hover;
    }
  }

  &_Thumb {
    position: relative;

    flex: 1;

    opacity: 0.25;
    background: variables.$text-base;
    border-radius: calc(($scrollbar-size - (2 * $scrollbar-padding)) / 2);

    /* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      min-width: 2.5rem;
      height: 100%;
      min-height: 2.5rem;
    }
  }
}
