@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/borders";
@use "/src/style/corners";

.Avatar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  background-color: transparent;

  &_Content {
    @include corners.round;

    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &_Image,
  &_Fallback {
    pointer-events: none;
    user-select: none;

    inset: 0;

    width: 100%;
    height: 100%;
  }

  &_Image {
    object-fit: cover;
  }

  &_Fallback {
    @include flex.centered;

    background-color: variables.$solid-muted-bg;
  }

  &_Flag {
    position: absolute;
    right: 0;
    bottom: 0;
    outline: variables.$white solid 2px;
  }

  .Badge {
    position: absolute;
    border-radius: 100%;
    outline: 2px solid white;

    &TopLeft {
      top: 0;
      left: 0;
    }

    &TopRight {
      top: 0;
      right: 0;
    }

    &BottomLeft {
      bottom: 0;
      left: 0;
    }

    &BottomRight {
      right: 0;
      bottom: 0;
    }
  }
}
