
@use '/src/style/variables';
@use '/src/style/flex';

.Avatar {
  background-color: transparent;
  display: flex;
  flex-shrink: 0;
  position: relative;
  &__Image {
    border-radius: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    width: 100%;
  }
  &__Fallback {
    @include flex.centered;
    & {
      background-color: variables.$solidMuted-bg;
      border-radius: 100%;
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      user-select: none;
      width: 100%;
    }
  }
  &__Flag {
    bottom: 0;
    outline-color: variables.$white;
    outline-style: solid;
    outline-width: 2px;
    position: absolute;
    right: 0;
  }
}
