@use '/src/style/mixins';
@use '/src/style/variables' as *;
@use '/src/style/flex';

.AvatarRoot {
  display: inline-flex;

  overflow: hidden;
  flex-shrink: 0;
  border-radius: 100%;
  background-color: transparent;
  @include flex.centered;
}

.AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.AvatarFallback {
  width: 100%;
  height: 100%;
  // background-color: transparent;
  // color: var(--violet-11);
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
   // user-select: none;
  @include flex.centered;
}
