
@use '/src/style/variables';
@use '/src/style/flex';

.Avatar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  background-color: transparent;

  &_Image {
    pointer-events: none;
    user-select: none;

    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 100%;
  }

  &_Fallback {
    @include flex.centered;

    & {
      user-select: none;

      position: absolute;
      inset: 0;

      width: 100%;
      height: 100%;

      background-color: variables.$solid-muted-bg;
      border-radius: 100%;
    }
  }

  &_Flag {
    position: absolute;
    right: 0;
    bottom: 0;
    outline: variables.$white solid 2px;
  }
}
