@use "/src/style/flex";

.MatchResultCreateDialog {
  @include flex.column($gap: 0);
  @include flex.stretchy;

  &_ScrollArea {
    @include flex.stretchy;
  }
}

.Form {
  padding: 1rem var(--modal-inner-gutter);
}
