.Photo {
  position: relative;

  overflow: hidden;   /* optional if image might overflow */
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
