.Photo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.Image {
  pointer-events: none;
  user-select: none;

  width: 100%;
  height: 100%;

  object-fit: cover;
}
