@use "/src/style/animate";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/utils";
@use "/src/style/variables";
@use "/src/style/variants";
@use "/src/style/sizes";

.DrawerOverlay {
  @include utils.modal-overlay;
  @include animate.duration-slow;
  @include animate.style-fade;

  & {
    background-color: variables.$modal-overlay-bg-color;
  }
}

.DrawerContent {
  @include animate.duration-slow;

  position: absolute;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  background-color: variables.$card-bg;

  &-left,
  &-right {
    position: fixed;
    top: 0;
    bottom: 0;

    width: 20rem;
    max-width: calc(100vw - 2rem);
  }

  &-top,
  &-bottom {
    position: fixed;
    right: 0;
    left: 0;
    height: calc(100vh - 2rem);
  }

  &-left {
    @include animate.style-slide-left;

    &-rounded {
      border-top-right-radius: variables.$corner-radius;
      border-bottom-right-radius: variables.$corner-radius;
    }

    & {
      left: 0;
    }
  }

  &-right {
    @include animate.style-slide-right;

    &-rounded {
      border-top-left-radius: variables.$corner-radius;
      border-bottom-left-radius: variables.$corner-radius;
    }

    & {
      right: 0;
    }
  }

  &-top {
    @include animate.style-slide-down;

    &-rounded {
      border-bottom-right-radius: variables.$corner-radius;
      border-bottom-left-radius: variables.$corner-radius;
    }

    & {
      top: 0;
    }
  }

  &-bottom {
    @include animate.style-slide-up;

    &-rounded {
      border-top-left-radius: variables.$corner-radius;
      border-top-right-radius: variables.$corner-radius;
    }

    & {
      bottom: 0;
    }
  }
}

.DrawerClose {
  @include variants.ghost;
  @include corners.normal;
  @include flex.centered;
  @include sizes.small;

  position: absolute;
  z-index: 1; // TODO: Figure out why this is needed for absolute positioned elements...
  top: 1rem;
  right: 1rem;

  svg {
    width: variables.$icon-button-icon-size;
    height: variables.$icon-button-icon-size;
  }
}
