@use "/src/style/variables";

@use "/src/style/variants";
@use "/src/style/text";

$close-size: 2.5rem;

.DrawerHeader {
  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: left;

  height: variables.$app-bar-height;
  padding: 1rem;

  &-left,
  &-right {
    flex-direction: row;
    padding-right: 4rem;
  }
}

.DrawerHeader-top.DrawerHeader-border {
  border-top: 1px solid variables.$border-color;
}

.DrawerHeader-bottom.DrawerHeader-border {
  border-bottom: 1px solid variables.$border-color;
}

.DrawerHeaderClose {
  @include text.ui;
  @include variants.ghost;

  & {
    position: absolute;
    top: calc((variables.$app-bar-height / 2) - ($close-size / 2));
    right: 1rem;

    width: $close-size;
    height: $close-size;
  }

  svg {
    width: variables.$icon-button-icon-size;
    height: variables.$icon-button-icon-size;
  }
}
