@use '/src/style/variables';
@use '/src/style/animate';
@use '/src/style/utils';

.DrawerOverlay {
  @include utils.modalOverlay;
  @include animate.durationSlow;
  @include animate.styleFade;
  & {
    background-color: variables.$modal-overlay-bg-color;
  }
}

.DrawerContent {
  @include animate.durationSlow;

  position: absolute;
  background-color: variables.$card-bg;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &-left,
  &-right {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20rem;
    max-width: calc(100vw - 2rem);
  }
  &-top,
  &-bottom {
    position: fixed;
    left: 0;
    right: 0;
    height: calc(100dvh - 2rem);
  }

  &-left {
    @include animate.styleSlideLeft;
    &-rounded {
      border-top-right-radius: variables.$corner-radius;
      border-bottom-right-radius: variables.$corner-radius;
    }
    & {
      left: 0;
    }
  }
  &-right {
    @include animate.styleSlideRight;
    &-rounded {
      border-top-left-radius: variables.$corner-radius;
      border-bottom-left-radius: variables.$corner-radius;
    }
    & {
      right: 0;
    }
  }
  &-top {
    @include animate.styleSlideDown;
    &-rounded {
      border-bottom-right-radius: variables.$corner-radius;
      border-bottom-left-radius: variables.$corner-radius;
    }
    & {
      top: 0;
    }
  }
  &-bottom {
    @include animate.styleSlideUp;
    &-rounded {
      border-top-left-radius: variables.$corner-radius;
      border-top-right-radius: variables.$corner-radius;
    }
    & {
      bottom: 0;
    }
  }
}



