@use "/src/style/animate";
@use "/src/style/corners";
@use "/src/style/flex";
@use "/src/style/sizes";
@use "/src/style/text";
@use "/src/style/utils";
@use "/src/style/variables";
@use "/src/style/variants";

.Overlay {
  @include utils.modal-overlay;
  @include animate.duration-slow;
  @include animate.style-fade;

  background-color: variables.$modal-overlay-bg-color;
}

.Content {
  @include flex.column($gap: 0);
  @include flex.stretchy;
  @include animate.duration-slow;

  position: absolute;
  background-color: variables.$card-bg;

  &-left,
  &-right {
    position: fixed;
    top: 0;
    bottom: 0;

    min-width: 16rem;
    max-width: calc(100vw - 2rem);
  }

  &-top,
  &-bottom {
    position: fixed;
    right: 0;
    left: 0;
    max-height: calc(100vh - 2rem);
  }

  &-left {
    @include animate.style-slide-left;

    &-rounded {
      border-top-right-radius: variables.$corner-radius;
      border-bottom-right-radius: variables.$corner-radius;
    }

    & {
      left: 0;
    }
  }

  &-right {
    @include animate.style-slide-right;

    &-rounded {
      border-top-left-radius: variables.$corner-radius;
      border-bottom-left-radius: variables.$corner-radius;
    }

    & {
      right: 0;
    }
  }

  &-top {
    @include animate.style-slide-down;

    &-rounded {
      border-bottom-right-radius: variables.$corner-radius;
      border-bottom-left-radius: variables.$corner-radius;
    }

    & {
      top: 0;
    }
  }

  &-bottom {
    @include animate.style-slide-up;

    &-rounded {
      border-top-left-radius: variables.$corner-radius;
      border-top-right-radius: variables.$corner-radius;
    }

    & {
      bottom: 0;
    }
  }
}

@media (width >= 688px) {
  .Content {
    max-width: min(calc(100vw - 2rem), 720px);
  }

  .Header,
  .Description {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .Inner {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .Footer {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.Header {
  @include flex.row;

  min-height: 4rem;
  padding: 1rem;

  h2 {
    line-height: 2rem;
  }
}

.Description {
  padding: 0 1rem;
}

.Inner {
  @include flex.stretchy;
}

.Footer {
  height: 4.5rem;
  padding: 1rem;
}

.Close {
  @include variants.ghost;
  @include corners.normal;
  @include flex.centered;
  @include sizes.small;

  position: absolute;
  z-index: 1; // TODO: Figure out why this is needed for absolute positioned elements...
  top: 1rem;
  right: 1rem;

  svg {
    width: variables.$icon-button-icon-size;
    height: variables.$icon-button-icon-size;
  }
}
