@use "/src/style/flex";
@use "/src/style/variants";
@use "/src/style/variables";
@use "/src/style/text";
@use "/src/style/borders";
@use "/src/style/corners";

.MatchResultsCard {
  @include flex.column($gap: 0);
  @include variants.card;

  overflow: hidden;
  min-height: 0;

  &_Loading {
    @include text.ui;
    @include flex.row($gap: 0.5rem, $xAlign: center);

    flex-grow: 1;
    color: var(--text-color-muted);

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &_Header {
    @include flex.row;

    padding: calc(1rem - var(--border-width)) calc(1rem - var(--border-width)) 1rem var(--container-padding-x);

    h2 {
      @include text.single-line;
    }

    &_Actions {
      @include flex.row;

      min-height: 2.5rem;
      margin-left: auto;
    }
  }

  &_ScrollArea {
    flex-grow: 1;
  }

  &_List {
    @include flex.column($gap: 0.5rem);

    flex-grow: 1;
    height: 100%;
    padding: 0.5rem;

    &_ViewAllButton {
      @include flex.centered;

      flex-grow: 1;
      padding: 1rem;
    }
  }

  &_EmptyState {
    @include flex.centered;

    flex-grow: 1;
  }
}
