@use "/src/style/variables";
@use "/src/style/flex";
@use "/src/style/text";
@use "/src/style/corners";
@use "/src/style/shadows";
@use "/src/style/borders";
@use "/src/style/variants";

.TournamentPairingRow {
  &_Versus {
    @include text.small($muted: true);

    font-size: var(--font-size-tiny);
    font-weight: 500;
    line-height: var(--line-height-tiny);
  }

  &[data-orientation="horizontal"] {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
    align-items: center;
  }

  &[data-orientation="horizontal"] > :first-child {
    justify-self: end;
  }

  &[data-orientation="vertical"] {
    display: grid;
    grid-template-areas:
      "identity0 identity0"
      "versus ."
      "identity1 identity1";
    grid-template-columns: 2rem 1fr;
    grid-template-rows: 2rem 1rem 2rem;
    flex-grow: 1;
    gap: 0.5rem;

    .TournamentPairingRow_Versus {
      grid-area: versus;
      place-self: center;
    }

    .TournamentPairingRow_Competitor0 {
      grid-area: identity0;
    }

    .TournamentPairingRow_Competitor1 {
      grid-area: identity1;
    }
  }
}
