@use "/src/style/flex";

.TeamYankeeV2MatchResultDetails {
  &[data-orientation="horizontal"] {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
  }

  &[data-orientation="vertical"] {
    @include flex.column;
  }

  &_Section {
    @include flex.column($gap: 0.5rem);
  }
}
